/* Generales */

.amarillo {
    color: #ffc950;
}

/* Header */

.blur {
    background-color: rgba(48, 49, 65, 0.6);
    backdrop-filter: blur(5px);
}

.nav {
    border-bottom: 3px solid #353a4f;
    border-color: #353a4f;
}

.logo-icon {
    max-height: 75%;
    max-width: 75%;
    align-self: center;
}

.logo {
    height: 75%;
    width: 75%;
    max-height: 15em;
    max-width: 15em;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.header-button {
    display: none;
}

.header-icons {
    color: white;
    font-size: 2.5em;
}

.header-icon:hover,
.header-icon:active {
    transition: 0.3s;
    color: #fea900;
    transform: scale(1.25);
}

.url {
    color: inherit;
    text-decoration: none;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

@media (min-width: 769px) {
}

@media (min-width: 1280px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .logo {
        max-height: 15em;
        max-width: 15em;
    }

    .header-button {
        display: block;
    }
}

/* Body */

.body {
    background-color: #0e0e11;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Formulario */

.mobile-form {
    display: block;
}

.form-text-mobile {
    font-size: 1.5em;
    color: white;
}

.form-text-desktop {
    font-size: 2.5em;
    color: white;
}

@media (min-width: 1280px) {
    .mobile-form {
        display: none;
    }
}

/* dfgsdfg */
.bg-gray {
    background-color: #1e1f28;
}

.form-label {
    font-size: 1em;
    color: white;
}

.form-control:focus {
    background-color: #353a4f;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.unit-text {
    font-size: 1.5em;
    color: white;
}

.bg-input {
    background-color: #282836;
}

.bg-input:hover {
    transition: 0.3s;
    background-color: #353a4f;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-total-text {
    font-size: 1em;
    color: white;
}

.form-submit {
    color: black;
    background-color: #ffc950;
    border-color: #091f52;
}

.form-submit:hover {
    transition: 0.3s;
    color: black;
    background-color: #fea900;
    border-color: #091f52;
}

.form-resumen {
    font-size: 1em;
}

.form-select {
    border: 2px solid #445474;
    background-color: #445474;
    color: white;
}

.form-select:focus {
    transition: 0.3s;
    border: 2px solid #ffc950;
    background-color: #353a4f;
}

.form-select:hover {
    transition: 0.3s;
    background-color: #353a4f;
}

/* cards */

.header-card {
    border-bottom: 2px solid #353a4f;
    border-color: #353a4f;
}

.icon {
    font-size: 3em;
}

/* text */

.bg-text {
    background-color: #0e0e11;
}

.text-title {
    font-size: 2em;
}

/* Footer */
.footer {
    background-color: #1e1f28;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-logo {
    max-height: 12em;
    max-width: 12em;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.footer-trustpilot {
    max-height: 30em;
    max-width: 30em;
}
.footer-text {
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.footer-url {
    color: inherit;
    text-decoration: none;
}

.footer-url:hover,
.footer-url:active {
    transition: 0.3s;
    color: #fea900;
}
