<h2 class="text-warning text-center mb-4 text-decoration-underline">
    HOW TO SELL?
</h2>
<div class="desktop">
    <div class="d-flex justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">
                        Choose your game and fill out the form
                    </h5>
                </div>
                <p class="card-text">
                    Choose your desired game as well as the server or faction
                    (if applicable), you must also provide us with the name of
                    your character, the payment method with which you wish to
                    receive your payment and the delivery method.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Press sell</h5>
                </div>
                <p class="card-text">
                    Once you fill out all the fields, you must click the SELL
                    button to transfer your sale data to the live chat.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Start the chat</h5>
                </div>
                <p class="card-text mb-3">
                    Before sending the message through the chat, please verify
                    that everything is correct, if so you can send the message
                    and wait patiently for one of our agents to assist you, we
                    usually respond in less than 10 minutes. Our agents will
                    guide you through the sales process depending on the method
                    you have chosen.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordinate delivery</h5>
                </div>
                <p class="card-text">
                    Our agents will provide you with instructions to receive
                    your gold with the method you have chosen, generally the
                    gold is received a few minutes after the transaction is
                    confirmed, with a time limit of 2 hours. Once completed, we
                    will confirm and send your payment.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="tablet flex-column">
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">
                        Choose your game and fill out the form
                    </h5>
                </div>
                <p class="card-text">
                    Choose your desired game as well as the server or faction
                    (if applicable), you must also provide us with the name of
                    your character, the payment method with which you wish to
                    receive your payment and the delivery method.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-5 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Press sell</h5>
                </div>
                <p class="card-text">
                    Once you fill out all the fields, you must click the SELL
                    button to transfer your sale data to the live chat.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Start the chat</h5>
                </div>
                <p class="card-text mb-3">
                    Before sending the message through the chat, please verify
                    that everything is correct, if so you can send the message
                    and wait patiently for one of our agents to assist you, we
                    usually respond in less than 10 minutes. Our agents will
                    guide you through the sales process depending on the method
                    you have chosen.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordinate delivery</h5>
                </div>
                <p class="card-text">
                    Our agents will provide you with instructions to receive
                    your gold with the method you have chosen, generally the
                    gold is received a few minutes after the transaction is
                    confirmed, with a time limit of 2 hours. Once completed, we
                    will confirm and send your payment.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="mobile-2 flex-column">
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">
                        Choose your game and fill out the form
                    </h5>
                </div>
                <p class="card-text">
                    Choose your desired game as well as the server or faction
                    (if applicable), you must also provide us with the name of
                    your character, the payment method with which you wish to
                    receive your payment and the delivery method.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">Press sell</h5>
                </div>
                <p class="card-text">
                    Once you fill out all the fields, you must click the SELL
                    button to transfer your sale data to the live chat.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Start the chat</h5>
                </div>
                <p class="card-text mb-3">
                    Before sending the message through the chat, please verify
                    that everything is correct, if so you can send the message
                    and wait patiently for one of our agents to assist you, we
                    usually respond in less than 10 minutes. Our agents will
                    guide you through the sales process depending on the method
                    you have chosen.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordinate delivery</h5>
                </div>
                <p class="card-text">
                    Our agents will provide you with instructions to receive
                    your gold with the method you have chosen, generally the
                    gold is received a few minutes after the transaction is
                    confirmed, with a time limit of 2 hours. Once completed, we
                    will confirm and send your payment.
                </p>
            </div>
        </div>
    </div>
</div>
