<div
    class="col-12 mobile flex-column align-items-center justify-content-center text-center"
>
    <div class="d-flex w-75 justify-content-center">
        <a href="/" class="d-flex"
            ><img
                class="logo mx-auto py-1 col-6"
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
        /></a>
    </div>
    <p class="text-white w-75" style="font-size: 1.25em;">
        <strong
            >More than 50,000 orders delivered in the main MMOs on the market, over more than 3 years in the business.</strong
        >
        <br />
        <a href="/en/buy" class="btn btn-warning text-black w-75 p-3 my-5 url"
            ><strong>BUY NOW</strong></a
        >
    </p>
</div>

<div
    class="col-12 desktop flex-column align-items-center justify-content-center my-5 text-center"
>
    <div class="d-flex w-75 justify-content-center">
        <a href="/" class="d-flex"
            ><img
                class="logo mx-auto py-1 col-6"
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
        /></a>
    </div>
    <p class="text-white col-6 text-home-mid">
        <strong
            >More than 50,000 orders delivered in the main MMOs on the market, over more than 3 years in the business.</strong
        >
        <br />
        <a href="/en/buy" class="btn btn-warning text-black w-25 p-3 my-5 url"
            ><strong>BUY NOW</strong></a
        >
    </p>
</div>

<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-money-bill-transfer"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            The best prices of the market! 
                        </h3>
                        <p class="card-text text-white-50">
                            We offer the most competitive prices for your gold and your games, buying from us is ensuring you get the most out of your money.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-handshake-simple"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            We deliver our products in just a few minutes! 
                        </h3>
                        <p class="card-text text-white-50">
                            Gold deliveries from 5 minutes after making your purchase. If for any external reason there is a delay, our support team will be available to assist you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i class="fa-solid fa-star" style="font-size: 4em"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Reputation and experience. 
                        </h3>
                        <p class="card-text text-white-50">
                            By using our services you can be sure that both your money and your gold are in good hands, we have hundreds of feedbacks in our Trustpilot and thousands of orders that support us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-5">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-user-shield"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            We guarantee refunds.
                        </h3>
                        <p class="card-text text-white-50">
                            If there is any delay or any other error made by us, we guarantee a full refund, which can be instant depending on the payment method.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desktop w-100 justify-content-center">
    <div class="d-flex w-50 col-12 gap-3 justify-content-between home-w">
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-money-bill-transfer"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            The best prices of the market! 
                        </h3>
                        <p class="card-text text-white-50">
                            We offer the most competitive prices for your gold and your games, buying from us is ensuring you get the most out of your money.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-handshake-simple"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            We deliver our products in just a few minutes! 
                        </h3>
                        <p class="card-text text-white-50">
                            Gold deliveries from 5 minutes after making your purchase. If for any external reason there is a delay, our support team will be available to assist you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="desktop w-100 justify-content-center">
    <div class="d-flex w-50 col-12 gap-3 justify-content-between home-w">
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i class="fa-solid fa-star" style="font-size: 4em"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Reputation and experience. 
                        </h3>
                        <p class="card-text text-white-50">
                            By using our services you can be sure that both your money and your gold are in good hands, we have hundreds of feedbacks in our Trustpilot and thousands of orders that support us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-user-shield"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            We guarantee refunds.
                        </h3>
                        <p class="card-text text-white-50">
                            If there is any delay or any other error made by us, we guarantee a full refund, which can be instant depending on the payment method.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desktop w-100 justify-content-center mt-5">
    <div class="d-flex w-50 home-carrousel justify-content-between align-items-center">
        <h2 class="text-white">
            Our clients:
        </h2>
        <div class="d-flex align-self-center">
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex">
                <img
                    class="logo mx-auto py-1 col-6"
                    src="/images/trustpilot-logo.png"
                    alt="Logo Victory Gold"
                />
            </a>
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex url mt-3">
                <p class="text-white-50 align-self-center">
                    <strong class="text-white">Excellent 4.9</strong> out of 5.0
                    <br/>
                    <small>Based on thousands of reviews</small>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="mobile w-100 justify-content-center">
    <div class="w-75 d-flex text-white mt-5">
        <h2>
            Our clients:
        </h2>
    </div>
</div>
<div class="mobile w-100 my-0 justify-content-center">
    <div
        id="carouselExampleInterval"
        class="carousel slide "
        data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="w-75 d-flex">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Matt D
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Excellent Seller/Service
                                        </p>
                                        <small class="text-white-50">
                                            This dude is aweosme. I have made many deals with him, been using him for over a year. Perfect service each time and very repsonsive. I definitely recommend him!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://www.trustpilot.com/reviews/6093417ef9f4870a6ca70f50" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Kevin Sanchez
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Great service
                                        </p>
                                        <small class="text-white-50">
                                            Excelent services they are all ears and always avaible to your request
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://www.trustpilot.com/users/6240a4ce69f17900122cd1a9" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Jose loco
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            very good deal
                                        </p>
                                        <small class="text-white-50">
                                            very good deal, everything is fast, reliable
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://www.trustpilot.com/reviews/60a28697f9f4870b70062210" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Franklin Pernalete
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Recomended at all!
                                        </p>
                                        <small class="text-white-50">
                                            Amazing experience, great service. Recomended, i will be work with them again!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://www.trustpilot.com/reviews/60946fb3f9f4870a7870e584" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Sebastian Azocar Hk
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Recommended
                                        </p>
                                        <small class="text-white-50">
                                            responsible, they have not left me bad even once ♥
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://www.trustpilot.com/reviews/60a173f2f9f4870b70055bd2" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile w-100 justify-content-center">
    <div class="d-flex w-75 flex-co justify-content-center align-items-center">
        <div class="d-flex flex-column align-self-center justify-content-center">
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex">
                <img
                    class="logo mx-auto mb-0"
                    src="/images/trustpilot-logo.png"
                    alt="Logo Victory Gold"
                />
            </a>
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex url mx-auto text-center">
                <p class="text-white-50 align-self-center">
                    <strong class="text-white">Excellent 4.9</strong> out of 5.0
                    <br/>
                    <small>Based on thousands of reviews</small>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="desktop w-100 mb-5 justify-content-center">
    <div
        id="carouselExampleInterval2"
        class="carousel slide home-carrousel"
        data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Matt D
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Excellent Seller/Service
                                        </p>
                                        <small class="text-white-50">
                                            This dude is aweosme. I have made many deals with him, been using him for over a year. Perfect service each time and very repsonsive. I definitely recommend him!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/6093417ef9f4870a6ca70f50" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Kevin Sanchez
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Great service
                                        </p>
                                        <small class="text-white-50">
                                            Excelent services they are all ears and always avaible to your request
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/users/6240a4ce69f17900122cd1a9" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Jose loco
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            very good deal
                                        </p>
                                        <small class="text-white-50">
                                            very good deal, everything is fast, reliable
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60a28697f9f4870b70062210" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Franklin Pernalete
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Recomended at all!
                                        </p>
                                        <small class="text-white-50">
                                            Amazing experience, great service. Recomended, i will be work with them again!
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60946fb3f9f4870a7870e584" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Sebastian Azocar Hk
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Recommended
                                        </p>
                                        <small class="text-white-50">
                                            responsible, they have not left me bad even once ♥
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60a173f2f9f4870b70055bd2" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            David
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Always Reliable
                                        </p>
                                        <small class="text-white-50">
                                            Quick and reliable. Can't do better than this guy.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/608eeb67f9f48708f0e9d333" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            john Sanden
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Id the best to go on the server
                                        </p>
                                        <small class="text-white-50">
                                            Id the best to go on the server. 10 out of 10.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/608f1b65f9f48708f0e9eefd" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Jesus Andres Salgado
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Excellent service
                                        </p>
                                        <small class="text-white-50">
                                            Excellent service, 100% responsible and fast.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60a58859f9f4870a94a780c4" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Enrique Mata
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            100% safe and fast
                                        </p>
                                        <small class="text-white-50">
                                            100% safe and fast, excellent service
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60b12687f9f4870a94affcb3" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Luis Jordan
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Fast and safe
                                        </p>
                                        <small class="text-white-50">
                                            Fast and safe.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/647d08316d477358447ca74f" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Samuel Eduardo
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            excellent
                                        </p>
                                        <small class="text-white-50">
                                            excellent. I highly recommend them
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60b1317cf9f4870b70115026" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Ildemar Mavarez
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            100% recommended
                                        </p>
                                        <small class="text-white-50">
                                            100% recommended, good attention
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/60c9094ef9f4870a44d5a918" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Limer Condori
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Nice job :D...
                                        </p>
                                        <small class="text-white-50">
                                            Nice job :D
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/631cb2727f7a8621ee581603" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Yosimar Tg
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Very excellent.
                                        </p>
                                        <small class="text-white-50">
                                            Very excellent.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/631e32657f7a8621ee58d984" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Ricardo Ollarves
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            The service is really good.
                                        </p>
                                        <small class="text-white-50">
                                            The service is really good.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://www.trustpilot.com/reviews/6091e7e0f9f4870a6ca5df7d" target="_blank" class="url text-warning border-bottom border-warning">
                                    See the reference here.
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval2"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval2"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div
    class="col-12 mobile flex-column align-items-center justify-content-center mt-5 text-center"
>
    <p class="text-white w-75" style="font-size: 1.5em;">
        <strong
            >Are you a professional gamer or gold farmer willing to work with Victory Gold?</strong
        >
        <br />
        <div class="d-flex justify-content-center text-center w-75">
            <small class="text-white-50 g-0" style="font-size: 1em"
                >Join our team of over 8,000 professional gamers and vendors who get paid to help other gamers around the world.</small
            >
        </div>
        <br />
        <div class="d-flex w-50 justify-content-center text-center">
            <a href="/en/buy" class="btn btn-warning text-black w-75 p-3 my-5 url"
                ><strong>LET'S GO!</strong></a
            >
        </div>
    </p>
</div>
<div
    class="col-12 desktop flex-column align-items-center justify-content-center my-5 text-center"
>
    <p class="text-white col-6 text-home-mid">
        <strong
            >Are you a professional gamer or gold farmer willing to work with Victory Gold?</strong
        >
        <br />
        <div class="d-flex justify-content-center text-center w-50">
            <small class="text-white-50 g-0" style="font-size: 1em"
                >Join our team of over 8,000 professional gamers and vendors who get paid to help other gamers around the world.</small
            >
        </div>
        <br />
        <div class="d-flex w-50 justify-content-center text-center">
            <a href="/en/buy" class="btn btn-warning text-black w-25 p-3 my-5 url"
                ><strong>LET'S GO!</strong></a
            >
        </div>
    </p>
</div>