<div class="desktop flex-column">
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            ¿Cómo es el proceso de compra?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            Comprar oro en OSRS es bastante sencillo, luego de
                            seguir las instrucciones y llenar el formulario
                            debes coordinar con el agente de compra que te
                            atienda tanto el método de pago como el método de
                            entrega del oro, recuerda que tenemos diferentes
                            formas de entrarte el oro, puedes elegir la que más
                            te guste. Los tiempos estipulados para la entrega
                            del oro suelen ser pocos minutos pero contamos con
                            un límite máximo de 2 horas para entregarte el oro.
                            Recuerda que comprar oro en OSRS puede ser algo
                            delicado, así que lo mejor es comprarlo con páginas
                            confiables como la nuestra para que tanto tu dinero,
                            como tu cuenta estén a salvo. Para cualquier
                            información adicional o informar sobre algún
                            problema tenemos a disposición el chat de la web o
                            bien nuestro número de WhatsApp: +1 (812) 682-0424
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            Oro de Runescape OldSchool (OSRS Gold)
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            El oro de RuneScape es el recurso principal del
                            juego, con el que puedes comprar todos los objetos
                            del juego así como armaduras, recursos, cosméticos y
                            todas las herramientas necesarias para convertirte
                            en un guerrero invencible dentro del mundo de
                            RuneScape. El oro es la herramienta que te permitirá
                            lograr lo que desees dentro del juego y comprarlo de
                            la mano de páginas confiables como nosotros te
                            mantendrá seguro para que puedas comprar con toda
                            confianza.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            ¿Porque Victory Gold?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            a. Respuesta rápida. Solemos contestar en menos de
                            10 minutos.<br />
                            b. Entrega rápida. Solemos entregar en menos de 10
                            minutos.<br />
                            c. Fuentes seguras de oro. Todo el oro es 100%
                            farmeado por humanos, sin bots.<br />
                            d. reputación que nos acompaña, tenemos más de 3
                            años en el mercado con mas de 50,000 ordenes
                            completadas en diferentes marketplaces.<br />
                            e. reputación demostrable, contamos con Trustpilot
                            donde puedes leer referencias de nuestro
                            servicio.<br />
                            f. Seguridad, tú dinero siempre esta 100% seguro con
                            nosotros, si no te entregamos el oro en el tiempo
                            estipulado siempre puedes pedir por un reembolso
                            completo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/1.png"
                        class="img-fluid rounded-start w-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            Conviértete en el mejor
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Acumular grandes cantidades de oro en OSRS puede ser
                            una tarea larga y tediosa. En su mayor parte,
                            necesitas oro para poder obtener más oro. Al comprar
                            oro en OSRS con nosotros, puedes permitirte adquirir
                            un excelente equipo, suministros y todo lo demás que
                            puedas necesitar. Nuestro oro de OSRS barato te
                            permitirá avanzar rápidamente y disfrutar de un
                            juego de alto nivel. Evita horas interminables de
                            molienda monótona y sumérgete en el mejor contenido
                            que OSRS tiene para ofrecer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo puedo usar el oro de OSRS para subir de nivel?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            En OSRS hay muchas habilidades para mejorar. Algunas
                            son fáciles, otras tediosas y/o costosas. Por
                            ejemplo, mejorar tu Herbología, Herrería, Artesanía
                            y Construcción puede requerir grandes cantidades de
                            oro OSRS. Comprar oro de OSRS te permite adquirir
                            fácilmente los mejores suministros para entrenar
                            habilidades y obtener los mejores materiales para
                            mejorar rápidamente, lo que te ayuda a ahorrar
                            tiempo al recolectar todo ese oro y subir de nivel a
                            través de métodos más lentos y económicos. Puedes
                            obtener rápidamente los niveles necesarios para una
                            misión específica que deseas realizar, la armadura
                            que deseas fabricar, o esa poción que te permite
                            enfrentarte al jefe más poderoso del juego.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/2.png"
                        class="img-fluid rounded-start w-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/3.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo puedo usar el oro de OSRS para equiparme?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            El equipo inicial en OSRS es relativamente fácil de
                            adquirir. Sin embargo, pronto descubrirás, a medida
                            que subes de nivel, que las armaduras y armas de
                            niveles superiores pueden ser bastante costosas. Una
                            vez que alcanzas cierto nivel para esa pieza de
                            equipo, se necesitarán horas interminables de farmeo
                            para poder costear la cantidad de oro necesaria para
                            ese objeto. La comprar oro de OSRS te prepara para
                            el éxito. No solo te hace más poderoso, sino que
                            también acelera tu nivel de combate y te permite
                            enfrentarte a personajes y jefes más lucrativos y
                            desafiantes. Eso es mucho más divertido que pelear
                            contra monstruos básicos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Puedo comprar oro de OSRS siendo de nivel bajo?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Puedes comprar oro OSRS en venta con cualquier nivel
                            de cuenta RS que desees. Si eres un jugador nuevo o
                            de nivel bajo, puedes comprar oro de OSRS para darte
                            una ventaja en tu juego. Te ahorrará mucho tiempo y
                            te alegrarás de haberlo hecho. Sin embargo,
                            sugerimos no comprar grandes cantidades de oro en
                            OSRS en una cuenta completamente nueva. A lo largo
                            de los años de venta de oro en OSRS, hemos aprendido
                            que el uso de una cuenta jugada y genuina para tu
                            transacción es mucho más adecuado y preferible. Esto
                            hace que el intercambio sea más seguro tanto para ti
                            como para nosotros.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/4.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/5.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Puedo comprar oro de OSRS en una cuenta gratuita?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Estaremos encantados de entregarte tu oro en un
                            mundo gratuito para satisfacer tus necesidades. Al
                            igual que con las cuentas de bajo nivel, tenemos
                            muchos clientes de cuenta gratuita que eligen gastar
                            su dinero en oro para ahorrar tiempo. Sin embargo,
                            sugerimos utilizar cuenta con membresía para
                            intercambiar grandes cantidades de oro. En nuestros
                            años en la industria, hemos descubierto que es mejor
                            práctica tener membresía, ya que estas personas
                            suelen ser más confiables debido a su estatus en el
                            juego.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Es seguro comprar oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Aquí en Victory Gold, contamos con años de
                            experiencia en brindar el mejor servicio. Tomamos
                            todas las medidas de precaución posibles, tanto
                            importantes como menores, para emplear los métodos
                            más seguros y confiables para adquirir y entregar tu
                            oro en OSRS. Puedes estar seguro de que nuestros
                            especialistas en OSRS se adaptan constantemente para
                            satisfacer las necesidades de ti, nuestra comunidad.
                            Tomamos medidas para minimizar todos los riesgos
                            posibles y garantizar nada más que satisfacción para
                            nuestros clientes. Si tienes algún problema o
                            pregunta, siempre estaremos aquí para ayudarte en el
                            camino.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo compro oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Hemos hecho nuestro proceso de venta de oro en OSRS
                            lo más conveniente posible para tu disfrute. Desde
                            el el formulario que te lleva directamente al pago,
                            hasta una amplia variedad de métodos de pago
                            disponibles para que puedas pagar de la manera que
                            prefieras. Hemos tomado todas las medidas posibles
                            para facilitar todo. Una vez que hayas seleccionado
                            la cantidad, completado el pago y pagado, recibirás
                            rápidamente tu oro OSRS.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/6.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/7.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Por qué cambia el precio del oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Es posible que hayas notado que los precios del oro
                            en OSRS cambian con el tiempo. No te alarmes, ya que
                            estos cambios suelen ser lentos. El mercado del oro
                            es un mercado en vivo, que evoluciona y se adapta
                            continuamente a las necesidades del mercado y a la
                            economía de RuneScape. La oferta y la demanda
                            cambian constantemente, lo que resulta en precios
                            fluctuantes. Sin embargo, el oro en OSRS
                            generalmente se considera una moneda estable.
                            Victory Gold también cambia sus precios de oro en
                            OSRS para mantenerse competitivo en el mercado.
                            Queremos que nuestro oro sea el más asequible y
                            barato en el mercado de OSRS. Después de todo,
                            nuestra comunidad merece lo mejor, y Victory Gold se
                            esfuerza por lograr la máxima satisfacción del
                            cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Ofrecen descuentos al comprar de OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Frecuentemente tenemos ofertas promocionales en oro
                            en OSRS para clientes nuevos y regulares. Si estás
                            en nuestros grupos y redes sociales, recibirás
                            ofertas para usarlas cuando las necesites. También
                            es recomendable que estés atento a nuestras páginas
                            de redes sociales, ya que publicamos allí,
                            ofreciendo descuentos de oro por tiempo limitado
                            para que puedas aprovecharlos. A veces también
                            proporcionamos oro adicional para pedidos más
                            grandes como agradecimiento adicional y muestra de
                            aprecio por utilizar nuestros servicios.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img
                        src="/images/png/osrs/8.png"
                        class="img-fluid rounded-start w-50 h-75 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Siempre tienen disponible oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Victory Gold siempre tiene oro de OSRS en venta. Nos
                            aseguramos de que nuestro oro disponible satisfaga
                            las necesidades de nuestros clientes. Creemos que
                            nunca deberías tener que esperar a que se entregue
                            tu oro, y una vez que compres oro en OSRS, deberías
                            poder recogerlo y usarlo de inmediato. Nuestro sitio
                            web también tiene una función de stock que
                            proporciona información sobre la cantidad de oro que
                            tenemos disponible en ese momento. Si por alguna
                            razón no podemos entregar oro, puedes comunicarte
                            con nuestro chat en vivo y te ayudaremos a saber
                            cuándo estaremos disponibles nuevamente con oro para
                            que lo compres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿De dónde proviene el oro de OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Hemos construido relaciones excepcionales con
                            múltiples proveedores a lo largo de nuestros más de
                            seis años en la industria. Los especialistas en OSRS
                            en Victory Gold se aseguran de que solo los mejores
                            proveedores de oro se conviertan en nuestros
                            proveedores. Trabajamos con muchos expertos de la
                            industria de buena reputación para ofrecer un
                            servicio de alta calidad de manera consistente. Al
                            conectar con los mejores proveedores del mercado,
                            podemos proporcionar un estándar premium.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile flex-column">
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            ¿Cómo es el proceso de compra?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            Comprar oro en OSRS es bastante sencillo, luego de
                            seguir las instrucciones y llenar el formulario
                            debes coordinar con el agente de compra que te
                            atienda tanto el método de pago como el método de
                            entrega del oro, recuerda que tenemos diferentes
                            formas de entrarte el oro, puedes elegir la que más
                            te guste. Los tiempos estipulados para la entrega
                            del oro suelen ser pocos minutos pero contamos con
                            un límite máximo de 2 horas para entregarte el oro.
                            Recuerda que comprar oro en OSRS puede ser algo
                            delicado, así que lo mejor es comprarlo con páginas
                            confiables como la nuestra para que tanto tu dinero,
                            como tu cuenta estén a salvo. Para cualquier
                            información adicional o informar sobre algún
                            problema tenemos a disposición el chat de la web o
                            bien nuestro número de WhatsApp: +1 (812) 682-0424
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            Oro de Runescape OldSchool (OSRS Gold)
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            El oro de RuneScape es el recurso principal del
                            juego, con el que puedes comprar todos los objetos
                            del juego así como armaduras, recursos, cosméticos y
                            todas las herramientas necesarias para convertirte
                            en un guerrero invencible dentro del mundo de
                            RuneScape. El oro es la herramienta que te permitirá
                            lograr lo que desees dentro del juego y comprarlo de
                            la mano de páginas confiables como nosotros te
                            mantendrá seguro para que puedas comprar con toda
                            confianza.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            ¿Porque Victory Gold?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            a. Respuesta rápida. Solemos contestar en menos de
                            10 minutos.<br />
                            b. Entrega rápida. Solemos entregar en menos de 10
                            minutos.<br />
                            c. Fuentes seguras de oro. Todo el oro es 100%
                            farmeado por humanos, sin bots.<br />
                            d. reputación que nos acompaña, tenemos más de 3
                            años en el mercado con mas de 50,000 ordenes
                            completadas en diferentes marketplaces.<br />
                            e. reputación demostrable, contamos con Trustpilot
                            donde puedes leer referencias de nuestro
                            servicio.<br />
                            f. Seguridad, tú dinero siempre esta 100% seguro con
                            nosotros, si no te entregamos el oro en el tiempo
                            estipulado siempre puedes pedir por un reembolso
                            completo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/1.png"
                        class="img-fluid rounded-start w-50 p-3"
                        alt="Conviértete en el mejor."
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            Conviértete en el mejor
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Acumular grandes cantidades de oro en OSRS puede ser
                            una tarea larga y tediosa. En su mayor parte,
                            necesitas oro para poder obtener más oro. Al comprar
                            oro en OSRS con nosotros, puedes permitirte adquirir
                            un excelente equipo, suministros y todo lo demás que
                            puedas necesitar. Nuestro oro de OSRS barato te
                            permitirá avanzar rápidamente y disfrutar de un
                            juego de alto nivel. Evita horas interminables de
                            molienda monótona y sumérgete en el mejor contenido
                            que OSRS tiene para ofrecer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/2.png"
                        class="img-fluid rounded-start w-50 p-3"
                        alt="¿Cómo puedo usar el oro de OSRS para subir de nivel?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo puedo usar el oro de OSRS para subir de nivel?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            En OSRS hay muchas habilidades para mejorar. Algunas
                            son fáciles, otras tediosas y/o costosas. Por
                            ejemplo, mejorar tu Herbología, Herrería, Artesanía
                            y Construcción puede requerir grandes cantidades de
                            oro OSRS. Comprar oro de OSRS te permite adquirir
                            fácilmente los mejores suministros para entrenar
                            habilidades y obtener los mejores materiales para
                            mejorar rápidamente, lo que te ayuda a ahorrar
                            tiempo al recolectar todo ese oro y subir de nivel a
                            través de métodos más lentos y económicos. Puedes
                            obtener rápidamente los niveles necesarios para una
                            misión específica que deseas realizar, la armadura
                            que deseas fabricar, o esa poción que te permite
                            enfrentarte al jefe más poderoso del juego.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/3.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Cómo puedo usar el oro de OSRS para equiparme?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo puedo usar el oro de OSRS para equiparme?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            El equipo inicial en OSRS es relativamente fácil de
                            adquirir. Sin embargo, pronto descubrirás, a medida
                            que subes de nivel, que las armaduras y armas de
                            niveles superiores pueden ser bastante costosas. Una
                            vez que alcanzas cierto nivel para esa pieza de
                            equipo, se necesitarán horas interminables de farmeo
                            para poder costear la cantidad de oro necesaria para
                            ese objeto. La comprar oro de OSRS te prepara para
                            el éxito. No solo te hace más poderoso, sino que
                            también acelera tu nivel de combate y te permite
                            enfrentarte a personajes y jefes más lucrativos y
                            desafiantes. Eso es mucho más divertido que pelear
                            contra monstruos básicos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/4.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Puedo comprar oro de OSRS siendo de nivel bajo?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Puedo comprar oro de OSRS siendo de nivel bajo?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Puedes comprar oro OSRS en venta con cualquier nivel
                            de cuenta RS que desees. Si eres un jugador nuevo o
                            de nivel bajo, puedes comprar oro de OSRS para darte
                            una ventaja en tu juego. Te ahorrará mucho tiempo y
                            te alegrarás de haberlo hecho. Sin embargo,
                            sugerimos no comprar grandes cantidades de oro en
                            OSRS en una cuenta completamente nueva. A lo largo
                            de los años de venta de oro en OSRS, hemos aprendido
                            que el uso de una cuenta jugada y genuina para tu
                            transacción es mucho más adecuado y preferible. Esto
                            hace que el intercambio sea más seguro tanto para ti
                            como para nosotros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/5.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Puedo comprar oro de OSRS en una cuenta gratuita?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Puedo comprar oro de OSRS en una cuenta gratuita?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Estaremos encantados de entregarte tu oro en un
                            mundo gratuito para satisfacer tus necesidades. Al
                            igual que con las cuentas de bajo nivel, tenemos
                            muchos clientes de cuenta gratuita que eligen gastar
                            su dinero en oro para ahorrar tiempo. Sin embargo,
                            sugerimos utilizar cuenta con membresía para
                            intercambiar grandes cantidades de oro. En nuestros
                            años en la industria, hemos descubierto que es mejor
                            práctica tener membresía, ya que estas personas
                            suelen ser más confiables debido a su estatus en el
                            juego.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Es seguro comprar oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Aquí en Victory Gold, contamos con años de
                            experiencia en brindar el mejor servicio. Tomamos
                            todas las medidas de precaución posibles, tanto
                            importantes como menores, para emplear los métodos
                            más seguros y confiables para adquirir y entregar tu
                            oro en OSRS. Puedes estar seguro de que nuestros
                            especialistas en OSRS se adaptan constantemente para
                            satisfacer las necesidades de ti, nuestra comunidad.
                            Tomamos medidas para minimizar todos los riesgos
                            posibles y garantizar nada más que satisfacción para
                            nuestros clientes. Si tienes algún problema o
                            pregunta, siempre estaremos aquí para ayudarte en el
                            camino.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/6.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Cómo compro oro en OSRS?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Cómo compro oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Hemos hecho nuestro proceso de venta de oro en OSRS
                            lo más conveniente posible para tu disfrute. Desde
                            el el formulario que te lleva directamente al pago,
                            hasta una amplia variedad de métodos de pago
                            disponibles para que puedas pagar de la manera que
                            prefieras. Hemos tomado todas las medidas posibles
                            para facilitar todo. Una vez que hayas seleccionado
                            la cantidad, completado el pago y pagado, recibirás
                            rápidamente tu oro OSRS.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/7.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Por qué cambia el precio del oro en OSRS?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Por qué cambia el precio del oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Es posible que hayas notado que los precios del oro
                            en OSRS cambian con el tiempo. No te alarmes, ya que
                            estos cambios suelen ser lentos. El mercado del oro
                            es un mercado en vivo, que evoluciona y se adapta
                            continuamente a las necesidades del mercado y a la
                            economía de RuneScape. La oferta y la demanda
                            cambian constantemente, lo que resulta en precios
                            fluctuantes. Sin embargo, el oro en OSRS
                            generalmente se considera una moneda estable.
                            Victory Gold también cambia sus precios de oro en
                            OSRS para mantenerse competitivo en el mercado.
                            Queremos que nuestro oro sea el más asequible y
                            barato en el mercado de OSRS. Después de todo,
                            nuestra comunidad merece lo mejor, y Victory Gold se
                            esfuerza por lograr la máxima satisfacción del
                            cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-3">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="d-flex flex-column g-0">
                <div
                    class="col-4 w-100 d-flex justify-content-center align-center"
                >
                    <img
                        src="/images/png/osrs/8.png"
                        class="img-fluid rounded-start w-25 p-3"
                        alt="¿Ofrecen descuentos al comprar de OSRS?"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Ofrecen descuentos al comprar de OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Frecuentemente tenemos ofertas promocionales en oro
                            en OSRS para clientes nuevos y regulares. Si estás
                            en nuestros grupos y redes sociales, recibirás
                            ofertas para usarlas cuando las necesites. También
                            es recomendable que estés atento a nuestras páginas
                            de redes sociales, ya que publicamos allí,
                            ofreciendo descuentos de oro por tiempo limitado
                            para que puedas aprovecharlos. A veces también
                            proporcionamos oro adicional para pedidos más
                            grandes como agradecimiento adicional y muestra de
                            aprecio por utilizar nuestros servicios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿Siempre tienen disponible oro en OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Victory Gold siempre tiene oro de OSRS en venta. Nos
                            aseguramos de que nuestro oro disponible satisfaga
                            las necesidades de nuestros clientes. Creemos que
                            nunca deberías tener que esperar a que se entregue
                            tu oro, y una vez que compres oro en OSRS, deberías
                            poder recogerlo y usarlo de inmediato. Nuestro sitio
                            web también tiene una función de stock que
                            proporciona información sobre la cantidad de oro que
                            tenemos disponible en ese momento. Si por alguna
                            razón no podemos entregar oro, puedes comunicarte
                            con nuestro chat en vivo y te ayudaremos a saber
                            cuándo estaremos disponibles nuevamente con oro para
                            que lo compres."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="card my-3 col-12 bg-text text-white">
            <div class="row g-0">
                <div class="col-md-">
                    <div class="card-body">
                        <h5 class="card-title text-title">
                            ¿De dónde proviene el oro de OSRS?
                        </h5>
                        <p class="card-text mt-5 text-white-50">
                            Hemos construido relaciones excepcionales con
                            múltiples proveedores a lo largo de nuestros más de
                            seis años en la industria. Los especialistas en OSRS
                            en Victory Gold se aseguran de que solo los mejores
                            proveedores de oro se conviertan en nuestros
                            proveedores. Trabajamos con muchos expertos de la
                            industria de buena reputación para ofrecer un
                            servicio de alta calidad de manera consistente. Al
                            conectar con los mejores proveedores del mercado,
                            podemos proporcionar un estándar premium.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
