<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body class="body">
        <header class="blur mb-5"><%- include('./partials/header') %></header>
        <main><%- include('./partials/form-server') %></main>
        <footer class="footer"><%- include('./partials/footer') %></footer>
        <script
            id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=011e03a8-d35b-4073-8e6b-b5f8243bc051"
        >
            {" "}
        </script>
    </body>
</html>
