<div class="mobile-form">
    <div class="w-100 mobile justify-content-center my-5">
        <div
            class="d-flex justify-content-center align-content-center col-10 my-5"
        >
            <div class="d-flex w-100 flex-column text-white-50 text-start" style="font-size: 0.7em;">
                <div class="d-flex mb-5">
                    <img
                        src="/images/icons/logo.svg"
                        alt="Logo Victory Gold"
                        style="width: 2em; height: 2em"
                        class="align-self-center justify-center mx-2"
                    />
                    <h2 class="form-text-mobile mb-0 pb-2">Copyright policy</h2>
                </div>
                <p class="text-white"><strong>
                Victory Gold fue creado con el propósito de convertirse en tu mejor amigo en la aventura como farmer y como jugador, ese amigo que te consigue la mejor manera de resolver
                cualquier problema dentro de tu aventura gaming para tener la mejor experiencia que este espacio puede brindarte.
            </strong></p>
            </br></br>
            <p class="text-warning mt-3"><strong>Nuestros principios clave:</strong></p>
            </br></br>
            <p>
                <span class="text-warning">Buenos precios:</span> Ofrecemos unos excelentes precios que se rigen 100% con el precio del mercado, por lo que nunca estarás sobrepagando ningún articulo.
            </p>
            </br></br>
            <p>
                <span class="text-warning">Velocidad:</span> Valoramos mucho el tiempo de nuestros clientes, por lo que siempre buscamos mejorar tanto nuestra interface como nuestro equipo de soporte para que tu interacción con nosotros sea tan rápida como es posible.
            </p>
            </br></br>
            <p>
                <span class="text-warning">Garantías y seguridad:</span> Si algo nos caracteriza es en ser un lugar totalmente seguro dentro de un mercado donde muchas personas buscan aprovecharse de otras, con nosotros tu dinero y tu oro siempre estarán a salvo.
            </p>
            </br></br>
            <p class="text-warning mt-3"><strong>¿Qué es Victory Gold hoy?</strong></p>
            </br></br>
            <p>
                +100.000 ordenes completadas en diferentes marketplaces.
            </p>
            </br></br>
            <p>
                +10.000 usuarios han utilizado nuestros servicios
            </p>
            </br></br>
            <p>
                98.7% de valoración positiva
            </p>
            </br></br>
            <p class="text-warning mt-3"><strong>Nuestra historia:</strong></p>
            </br></br>
            <p>
                Dos hermanos inmigrantes en un país totalmente nuevo en medio de plena pandemia mundial en el 2020, buscamos cumplir nuestro sueño de encontrar un trabajo al rededor del ambiente que mas nos gusta: el gaming.
            </p>
            </br></br>
            <p>
                Sin nada de presupuesto más que las ganas de lograr algo grande, comenzamos a hacer nuestros primeros dólares farmeando oro en Runescape, aunque rápidamente nos decantamos por World of Warcraft Classic que cuando lo conocimos nos dio 
horas de mucha diversión, pero también de estrés y frustración mientras aprendíamos como boostear el nivel de otros jugadores en mazmorras como Zul'Gurub y Monasterio Escarlata.
            </p>
            </br></br>
            <p>
                Luego de hacer nuestros primeros varios miles de oro, al intentar venderlo nos encontramos con páginas chinas que mal pagaban el oro y además demoraban horas e incluso días en hacerte llegar el dinero, horas que tenias que esperar 
sin saber siquiera si realmente nos iban a pagar o simplemente nos habían estafado, sin contar que recibíamos el pago a traves de PayPal y nos hacia perder gran parte de nuestra ganancia en comisiones. Cansados de vender oro tan 
ineficientemente decidimos buscar nuestros propios clientes a quien venderles el oro, lo cual no fue fácil. Ya que iniciar en este mercado sin reputación es extremadamente difícil, aunque no lo suficiente para dos hombres 
sedientos de cumplir una meta.
            </p>
            </br></br>
            <p>
                Encontramos nuestros clientes y nos dimos cuenta que podíamos ofrecer un mejor servicio que el que ya se estaba ofreciendo en ese momento, y decidimos fundar un espacio donde las personas pudieran llegar a vender su oro sin 
preocupación de ser estafado ni tener que estar esperando días para poder recibir su dinero, además decidimos buscar la manera de poder pagarle a las personas que nos vendieran oro directamente en su cuenta de banco local, por lo que no 
se perderían tantas comisiones como nosotros perdimos en su momento.
            </p>
            </br></br>
            <p>
                Victory Gold hoy en dia esta compuesto por un equipo de personas muy especiales que nos han acompañado a lo largo de esta aventura, y si bien hemos encontrado personas no tan buenas en el camino, todos nos han ayudado a mejorar y 
a ser lo que hoy en dia somos y de lo que nos sentimos muy orgullosos.
            </p>
            </br></br>
            <p>
                Aprendimos marketing, gestión de redes sociales, gestión de inventarios, dirección de equipos y aprendimos a movernos en un mercado cambiante y complicado como puede ser el comercio con monedas de videojuegos.
            </p>
            </br></br>
            <p>
                Por lo que creemos que hoy en dia somos nuestra mejor versión y seguiremos mejorando.
            </p>
            </br></br>
            <p class="text-warning">
                - "Tú tiempo es oro, y nosotros hacemos que valga".
            </p>     
            </div>
        </div>
    </div>
</div>

<div class="container justify-content-center desktop">
    <div class="row m-5 text-center col-12 p-3 rounded-3">
        <div class="col-12 d-flex justify-content-center">
            <img
                src="/images/icons/logo.svg"
                alt="logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center m-2"
            />
            <div class="d-block">
                <h2 class="form-text-desktop mb-0 pb-2">About Us</h2>
            </div>
        </div>
        <div class="home-w d-flex flex-column text-white-50 text-start mt-5">
            <p class="text-white"><strong>
                Victory Gold fue creado con el propósito de convertirse en tu mejor amigo en la aventura como farmer y como jugador, ese amigo que te consigue la mejor manera de resolver
                cualquier problema dentro de tu aventura gaming para tener la mejor experiencia que este espacio puede brindarte.
            </strong></p>
            </br></br>
            <p class="text-warning mt-3"><strong>Nuestros principios clave:</strong></p>
            </br></br>
            <p>
                <span class="text-warning">Buenos precios:</span> Ofrecemos unos excelentes precios que se rigen 100% con el precio del mercado, por lo que nunca estarás sobrepagando ningún articulo.
            </p>
            </br></br>
            <p>
                <span class="text-warning">Velocidad:</span> Valoramos mucho el tiempo de nuestros clientes, por lo que siempre buscamos mejorar tanto nuestra interface como nuestro equipo de soporte para que tu interacción con nosotros sea tan rápida como es posible.
            </p>
            </br></br>
            <p>
                <span class="text-warning">Garantías y seguridad:</span> Si algo nos caracteriza es en ser un lugar totalmente seguro dentro de un mercado donde muchas personas buscan aprovecharse de otras, con nosotros tu dinero y tu oro siempre estarán a salvo.
            </p>
            </br></br>
            <p class="text-warning mt-3"><strong>¿Qué es Victory Gold hoy?</strong></p>
            </br></br>
            <p>
                +100.000 ordenes completadas en diferentes marketplaces.
            </p>
            </br></br>
            <p>
                +10.000 usuarios han utilizado nuestros servicios
            </p>
            </br></br>
            <p>
                98.7% de valoración positiva
            </p>
            </br></br>
            <p class="text-warning mt-3"><strong>Nuestra historia:</strong></p>
            </br></br>
            <p>
                Dos hermanos inmigrantes en un país totalmente nuevo en medio de plena pandemia mundial en el 2020, buscamos cumplir nuestro sueño de encontrar un trabajo al rededor del ambiente que mas nos gusta: el gaming.
            </p>
            </br></br>
            <p>
                Sin nada de presupuesto más que las ganas de lograr algo grande, comenzamos a hacer nuestros primeros dólares farmeando oro en Runescape, aunque rápidamente nos decantamos por World of Warcraft Classic que cuando lo conocimos nos dio 
horas de mucha diversión, pero también de estrés y frustración mientras aprendíamos como boostear el nivel de otros jugadores en mazmorras como Zul'Gurub y Monasterio Escarlata.
            </p>
            </br></br>
            <p>
                Luego de hacer nuestros primeros varios miles de oro, al intentar venderlo nos encontramos con páginas chinas que mal pagaban el oro y además demoraban horas e incluso días en hacerte llegar el dinero, horas que tenias que esperar 
sin saber siquiera si realmente nos iban a pagar o simplemente nos habían estafado, sin contar que recibíamos el pago a traves de PayPal y nos hacia perder gran parte de nuestra ganancia en comisiones. Cansados de vender oro tan 
ineficientemente decidimos buscar nuestros propios clientes a quien venderles el oro, lo cual no fue fácil. Ya que iniciar en este mercado sin reputación es extremadamente difícil, aunque no lo suficiente para dos hombres 
sedientos de cumplir una meta.
            </p>
            </br></br>
            <p>
                Encontramos nuestros clientes y nos dimos cuenta que podíamos ofrecer un mejor servicio que el que ya se estaba ofreciendo en ese momento, y decidimos fundar un espacio donde las personas pudieran llegar a vender su oro sin 
preocupación de ser estafado ni tener que estar esperando días para poder recibir su dinero, además decidimos buscar la manera de poder pagarle a las personas que nos vendieran oro directamente en su cuenta de banco local, por lo que no 
se perderían tantas comisiones como nosotros perdimos en su momento.
            </p>
            </br></br>
            <p>
                Victory Gold hoy en dia esta compuesto por un equipo de personas muy especiales que nos han acompañado a lo largo de esta aventura, y si bien hemos encontrado personas no tan buenas en el camino, todos nos han ayudado a mejorar y 
a ser lo que hoy en dia somos y de lo que nos sentimos muy orgullosos.
            </p>
            </br></br>
            <p>
                Aprendimos marketing, gestión de redes sociales, gestión de inventarios, dirección de equipos y aprendimos a movernos en un mercado cambiante y complicado como puede ser el comercio con monedas de videojuegos.
            </p>
            </br></br>
            <p>
                Por lo que creemos que hoy en dia somos nuestra mejor versión y seguiremos mejorando.
            </p>
            </br></br>
            <p class="text-warning">
                - "Tú tiempo es oro, y nosotros hacemos que valga".
            </p>            
        </div>
    </div>
</div>
