<div class="mobile-form">
    <div class="w-100 mobile justify-content-center">
        <div class="d-flex justify-content-center align-content-center col-10 mt-3">
            <img
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center justify-center mx-2"
            />
            <h2 class="form-text-mobile mb-0 pb-2">¡Bienvenido!</h2>
        </div>
    </div>

    <div class="w-100 p-3 mb-5 rounded-3 shadow mobile justify-content-center">
        <form action="/admin" method="post" class="d-flex flex-column col-10 bg-gray justify-content-center align-items-center">
            <div class="m-5">
                <label for="password" class="form-label text-center">Ingresa la contraseña:</label>
                <input
                        type="password"
                        required
                        id="password"
                        name="password"
                        class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                        placeholder="Contraseña"
                    />
            </div>
            <div class="col-12 text-center py-4">
                <button type="submit" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow"><strong>INGRESAR</strong></button>
            </div>
        </form>
    </div>
</div>

<div class="container justify-content-center desktop">
    <div class="row m-5 text-center col-12 p-3 rounded-3">
        <div class="col-12 d-flex justify-content-center">
            <img
                src="/images/icons/logo.svg"
                alt="logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center m-2"
            />
            <p class="form-text-desktop mb-0 pb-2">¡Bienvenido!</p>
        </div>
        <form action="/admin" method="post" class="w-100 d-flex justify-content-center bg-gray p-3 rounded-3 shadow">
            <div class="col-5 my-5">
                <label for="password2" class="form-label"
                    >Ingresa la contraseña:</label
                >
                <input type="password"
                    id="password2"
                    name="password2"
                    placeholder="Contraseña"
                    required
                    class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                >
                </input>
                <div class="col-12 text-center py-4">
                    <button type="submit" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow"><strong>INGRESAR</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>
