<h2 class="text-warning text-center mb-4 text-decoration-underline">
    ¿CÓMO VENDER?
</h2>
<div class="desktop">
    <div class="d-flex justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">
                        Elige tu juego y llena el formulario
                    </h5>
                </div>
                <p class="card-text">
                    Elige tu juego deseado así como el servidor o facción (en
                    caso de que aplique), también debes proporcionarnos el
                    nombre de tu personaje, el método de pago con el que deseas
                    recibir tu pago y el método de entrega.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Dale a vender</h5>
                </div>
                <p class="card-text">
                    Una vez llenes todos los campos debes darle al botón de
                    VENDER para transferir los datos de tu venta al chat en
                    vivo.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Inicia el chat</h5>
                </div>
                <p class="card-text mb-3">
                    Antes de enviar el mensaje por el chat por favor verifica
                    que está todo correcto, de ser así puedes enviar el mensaje
                    y esperar pacientemente que uno de nuestros agentes te
                    atienda, solemos responder en menos de 10 minutos. Nuestros
                    agentes te guiarán en el proceso de venta dependiendo el
                    método que hayas elegido.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-3"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordina la entrega</h5>
                </div>
                <p class="card-text">
                    Nuestros agentes te brindarán las instrucciones para que
                    recibir tu oro con el método que hayas elegido, generalmente
                    el oro es recibido pocos minutos luego de confirmada la
                    transacción, con un tiempo límite de 2 horas. Una vez
                    realizado, confirmaremos y enviaremos tu pago.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="tablet flex-column">
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">
                        Elige tu juego y llena el formulario
                    </h5>
                </div>
                <p class="card-text">
                    Elige tu juego deseado así como el servidor o facción (en
                    caso de que aplique), también debes proporcionarnos el
                    nombre de tu personaje, el método de pago con el que deseas
                    recibir tu pago y el método de entrega.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-5 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Dale a vender</h5>
                </div>
                <p class="card-text">
                    Una vez llenes todos los campos debes darle al botón de
                    VENDER para transferir los datos de tu venta al chat en
                    vivo.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Inicia el chat</h5>
                </div>
                <p class="card-text mb-3">
                    Antes de enviar el mensaje por el chat por favor verifica
                    que está todo correcto, de ser así puedes enviar el mensaje
                    y esperar pacientemente que uno de nuestros agentes te
                    atienda, solemos responder en menos de 10 minutos. Nuestros
                    agentes te guiarán en el proceso de venta dependiendo el
                    método que hayas elegido.
                </p>
            </div>
        </div>
        <div
            class="card border-warning mb-3 mx-2 col-5"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordina la entrega</h5>
                </div>
                <p class="card-text">
                    Nuestros agentes te brindarán las instrucciones para que
                    recibir tu oro con el método que hayas elegido, generalmente
                    el oro es recibido pocos minutos luego de confirmada la
                    transacción, con un tiempo límite de 2 horas. Una vez
                    realizado, confirmaremos y enviaremos tu pago.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="mobile-2 flex-column">
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-rectangle-list icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">
                        Elige tu juego y llena el formulario
                    </h5>
                </div>
                <p class="card-text">
                    Elige tu juego deseado así como el servidor o facción (en
                    caso de que aplique), también debes proporcionarnos el
                    nombre de tu personaje, el método de pago con el que deseas
                    recibir tu pago y el método de entrega.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10 bg-gray"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card pb-5 mb-3 h-25">
                    <i
                        class="fa-solid fa-bag-shopping icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3 mb-5">Dale a vender</h5>
                </div>
                <p class="card-text">
                    Una vez llenes todos los campos debes darle al botón de
                    VENDER para transferir los datos de tu venta al chat en
                    vivo.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                    <h5 class="card-title m-3">Inicia el chat</h5>
                </div>
                <p class="card-text mb-3">
                    Antes de enviar el mensaje por el chat por favor verifica
                    que está todo correcto, de ser así puedes enviar el mensaje
                    y esperar pacientemente que uno de nuestros agentes te
                    atienda, solemos responder en menos de 10 minutos. Nuestros
                    agentes te guiarán en el proceso de venta dependiendo el
                    método que hayas elegido.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center col-12">
        <div
            class="card border-warning mb-3 mx-2 col-10"
            style="max-width: 18rem"
        >
            <div class="card-body text-white bg-gray">
                <div class="d-flex header-card mb-3 h-25">
                    <i
                        class="fa-solid fa-handshake-simple icon m-3 text-warning"
                    ></i>
                    <h5 class="card-title m-3">Coordina la entrega</h5>
                </div>
                <p class="card-text">
                    Nuestros agentes te brindarán las instrucciones para que
                    recibir tu oro con el método que hayas elegido, generalmente
                    el oro es recibido pocos minutos luego de confirmada la
                    transacción, con un tiempo límite de 2 horas. Una vez
                    realizado, confirmaremos y enviaremos tu pago.
                </p>
            </div>
        </div>
    </div>
</div>
