<h2 class="text-warning text-center mb-4 text-decoration-underline">
    ¿CÓMO COMPRAR?
</h2>
<div class="d-flex justify-content-center">
    <div class="card border-warning mb-3 mx-2 col-3" style="max-width: 18rem">
        <div class="card-body text-white bg-gray">
            <div class="d-flex header-card mb-3 h-25">
                <i class="fa-solid fa-rectangle-list icon m-3 text-warning"></i>
                <h5 class="card-title m-3">
                    Elige tu juego y llena el formulario
                </h5>
            </div>
            <p class="card-text">
                Elige tu juego deseado así como el servidor o facción (en caso
                de que aplique), también debes proporcionarnos el nombre de tu
                personaje, el método de pago con el que deseas pagar y el método
                de entrega.
            </p>
        </div>
    </div>
    <div
        class="card border-warning mb-3 mx-2 col-3 bg-gray"
        style="max-width: 18rem"
    >
        <div class="card-body text-white bg-gray">
            <div class="d-flex header-card mb-3 h-25">
                <i class="fa-solid fa-bag-shopping icon m-3 text-warning"></i>
                <h5 class="card-title m-3">Dale a comprar</h5>
            </div>
            <p class="card-text">
                Una vez llenes todos los campos debes darle al botón de COMPRAR
                para transferir los datos de tu compra al chat en vivo.
            </p>
        </div>
    </div>
    <div class="card border-warning mb-3 mx-2 col-3" style="max-width: 18rem">
        <div class="card-body text-white bg-gray">
            <div class="d-flex header-card mb-3 h-25">
                <i class="fa-solid fa-comments icon m-3 text-warning"></i>
                <h5 class="card-title m-3">Inicia el chat y realiza el pago</h5>
            </div>
            <p class="card-text mb-3">
                Antes de enviar el mensaje por el chat por favor verifica que
                está todo correcto, de ser así puedes enviar el mensaje y
                esperar pacientemente que uno de nuestros agentes te atienda,
                solemos responder en menos de 10 minutos. Nuestros agentes te
                guiarán en el proceso de pago dependiendo el método que hayas
                elegido.
            </p>
        </div>
    </div>
    <div class="card border-warning mb-3 mx-2 col-3" style="max-width: 18rem">
        <div class="card-body text-white bg-gray">
            <div class="d-flex header-card mb-3 h-25">
                <i
                    class="fa-solid fa-handshake-simple icon m-3 text-warning"
                ></i>
                <h5 class="card-title m-3">Coordina la entrega</h5>
            </div>
            <p class="card-text">
                Una vez realizado y confirmado el pago, nuestros agentes te
                brindarán las instrucciones para que recibas tu oro con el
                método que hayas elegido, generalmente el oro es entregado pocos
                minutos luego de confirmado el pago, con un tiempo límite de 2
                horas.
            </p>
        </div>
    </div>
</div>
