<div class="text-center">
    <a href="#" class="url"
        ><img
            class="footer-logo"
            src="/images/icons/logo.svg"
            alt="Logo Victory Gold"
    /></a>
    <p class="footer-text">victorygsupport@gmail.com</p>
    <p class="footer-text">© Victory LLC all rights reserved.</p>
</div>

<script src="/js/gameSelect.js"></script>
