<div class="w-100 d-flex justify-content-center">
    <div class="d-flex align-content-center col-10 mt-3">
        <img
            src="/images/minis/osrs.webp"
            alt="logo-osrs"
            class="align-self-center logo-osrs"
        />
        <h2 class="form-text mb-0 pb-2">Comprar oro en <%=game.nombre%></h2>
    </div>
</div>

<div class="w-100 p-3 rounded-3 shadow d-flex justify-content-center">
    <div class="d-flex flex-column col-10 bg-gray justify-content-center">
        <form id="form-venta">
            <div class="m-3">
                <select
                    id="juegoInput"
                    required
                    class="form-select shadow py-2"
                >
                    <% for(oneGame of games) { %>
                    <option value="game/<%= oneGame.juego_id %>"
                        <% if (oneGame.juego_id == game.juego_id) { %>
                        <%="selected"%>
                        <% } %>
                        >
                        <%= oneGame.nombre %>
                    </option>
                    <% } %>
                </select>
            </div>
            <div class="m-3">
                <label for="cantidad-input" class="form-label">Cantidad de oro /K:</label>
                <input
                        type="number"
                        required
                        id="cantidad-input"
                        class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                        placeholder="600"
                    />
            </div>
            <div class="m-3">
                <label for="personaje-input" class="form-label">Personaje:</label>
                <input
                type="text"
                required
                id="personaje-input"
                    class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                    placeholder="Nombre de personaje"
                >
                </input>
            </div>
            <div class="m-3">
                <label for="pago-input" class="form-label">Método de pago:</label>
                <select
                id="pago-input"
                required
                class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                >
                    <option selected disabled>-Seleccionar-</option>
                    <option value="Binance USDT">Binance USDT</option>
                    <option value="VISA">VISA</option>
                    <option value = "Master Card">Master Card</option>
                    <option value = "PagoMóvil">PagoMóvil</option>
                    <option disabled>-Transferencia bancaria-</option>
                    <option value="Banco Venezuela">Banco Venezuela</option>
                    <option value="Bancolombia">Bancolombia</option>
                    <option value="Nequi">Nequi</option>
                    <option value="Zinli">Zinli</option>
                    <option value="Yappy">Yappy (Banco Panamá)</option>
                    <option value="Wise">Wise</option>
                </select>
            </div>
            <div class="m-3">
                <label for="entrega-input" class="form-label">Método de entrega:</label>
                <select
                id="entrega-input"
                required
                class="form-control py-2 bg-input text-white border-0 rounded-2 shadow"
                >
                    <option selected disabled>-Seleccionar-</option>
                    <option value="Trade">Trade</option>
                    <option value="Drop">Drop</option>
                </select>
            </div>
        </form>
        <div class="col-12 text-center py-4">
          <p id="total2" class="form-total-text mt-3">Total: <strong>$ --</strong></p>
          <button type="submit" onclick="comprar()" id="comprar" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow"><strong>COMPRAR</strong></button>
        </div>
    </div>
</div>

    <script src="/js/total.js"></script>
</div>
