<nav class="header-main navbar d-flex">
    <div class="w-100 flex-row col-12 header-desktop">
        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="dropdow">
                <button
                    class="btn btn-secondary blur dropdown-toggle  p-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Español 🇪🇸
                </button>
                <ul class="dropdown-menu bg-gray">
                    <li>
                        <a class="dropdown-item text-white" href="#"
                            >🇪🇸 Español (ES)</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item text-white" href="#"
                            >🇺🇸 English (EN)</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-between align-items-center">
                    <button
                        type="button"
                        class="btn btn-outline-warning py-3 m-5 col-3"
                    >
                        COMPRAR
                    </button>
                    <img
                        class="footer-logo mx-auto py-3"
                        src="/images/icons/logo.svg"
                        alt="Logo Victory Gold"
                    />
                    <button
                        type="button"
                        class="btn btn-outline-warning py-3 m-5 col-3"
                    >
                        VENDER
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3 justify-content-end d-flex align-items-center">
            <div class="header-icons d-flex gap-4 mx-5">
                <a href="#" class="url"
                    ><i class="fa-brands fa-discord header-icon"></i
                >
                <a href="#" class="url"
                    ><i class="fa-brands fa-whatsapp header-icon"></i></a>
                <a href="#" class="url"
                    ><i class="fa-brands fa-facebook header-icon"></i></a>
            </div>
        </div>
    </div>
    <div class=" min-vw-100 flex-row col-12 header-mobile">
        <div class="col-3 d-flex align-center">
            <button class="btn btn-primary h-25 align-self-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            <i class="fa-solid fa-bars"></i>
            </button>

            <div class="offcanvas offcanvas-start bg-black"  tabindex="-1" id="staticBackdrop" >
                asfsadfasd
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img
                        class="footer-logo mx-auto py-3"
                        src="/images/icons/logo.svg"
                        alt="Logo Victory Gold"
                    />
                </div>
            </div>
        </div>
        <div class="col-3">dfgh</div>
    </div>
</nav>
