<nav class="header navbar d-flex">
    <div class="d-flex w-100 flex-row col-12">
        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="dropdown">
                <button
                    class="btn btn-secondary blur dropdown-toggle p-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Español 🇪🇸
                </button>
                <ul class="dropdown-menu bg-gray">
                    <li>
                        <a class="dropdown-item text-white" href="#"
                            >🇪🇸 Español (ES)</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item text-white" href="#"
                            >🇺🇸 English (EN)</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-between align-items-center">
                    <button
                        type="button"
                        class="btn btn-outline-warning py-3 m-5 col-3"
                    >
                        COMPRAR
                    </button>
                    <img
                        class="footer-logo mx-auto py-3"
                        src="/images/icons/logo.svg"
                        alt="Logo Victory Gold"
                    />
                    <button
                        type="button"
                        class="btn btn-outline-warning py-3 m-5 col-3"
                    >
                        VENDER
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3 justify-content-end d-flex align-items-center">
            <div class="header-icons d-flex gap-4 mx-5">
                <a href="#" class="url"
                    ><i class="fa-brands fa-discord header-icon"></i
                >
                <a href="#" class="url"
                    ><i class="fa-brands fa-whatsapp header-icon"></i></a>
                <a href="#" class="url"
                    ><i class="fa-brands fa-facebook header-icon"></i></a>
            </div>
        </div>
    </div>
</nav>
