<div
    class="col-12 mobile flex-column align-items-center justify-content-center text-center"
>
    <div class="d-flex w-75 justify-content-center">
        <a href="/" class="d-flex"
            ><img
                class="logo mx-auto py-1 col-6"
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
        /></a>
    </div>
    <p class="text-white w-75" style="font-size: 1.25em;">
        <strong
            >Más de 50.000 ordenes entregadas a lo largo de más de 3 años en el
            negocio, para los principales MMO del mercado.</strong
        >
        <br />
        <a href="/buy" class="btn btn-warning text-black w-75 p-3 my-5 url"
            ><strong>EMPIEZA AHORA</strong></a
        >
    </p>
</div>

<div
    class="col-12 desktop flex-column align-items-center justify-content-center my-5 text-center"
>
    <div class="d-flex w-75 justify-content-center">
        <a href="/" class="d-flex"
            ><img
                class="logo mx-auto py-1 col-6"
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
        /></a>
    </div>
    <p class="text-white col-6 text-home-mid">
        <strong
            >Más de 50.000 ordenes entregadas a lo largo de más de 3 años en el
            negocio, para los principales MMO del mercado.</strong
        >
        <br />
        <a href="/buy" class="btn btn-warning text-black w-25 p-3 my-5 url"
            ><strong>EMPIEZA AHORA</strong></a
        >
    </p>
</div>

<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-money-bill-transfer"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            ¡Las mejores tasas del mercado!
                        </h3>
                        <p class="card-text text-white-50">
                            Ofrecemos las tasas mas competitivas y 
                            los precios más económicos para tu oro 
                            y tus juegos, comprarnos a nosotros es 
                            asegurar sacarle el máximo rendimiento 
                            a tu dinero.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-handshake-simple"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            ¡Entregamos nuestros productos en pocos minutos!
                        </h3>
                        <p class="card-text text-white-50">
                            Entregas de oro desde los 5 minutos 
                            de haber realizado tu compra. 
                            Si por algún motivo externo hay 
                            algún retraso, nuestro equipo de soporte
                            estará disponible para atenderte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-1">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i class="fa-solid fa-star" style="font-size: 4em"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Reputación y experiencia
                        </h3>
                        <p class="card-text text-white-50">
                            Al utilizar nuestros servicios puedes 
                            estar seguro que tanto tu dinero como tu 
                            oro están en buenas manos, contamos 
                            con cientos de referencias en nuestro Trustpilot 
                            y miles de ordenes que nos avalan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile w-100 justify-content-center mb-5">
    <div class="d-flex w-75 col-12 justify-content-center">
        <div class="card mb-3 border-0 bg-gray p-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-user-shield"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Garantizamos reembolsos
                        </h3>
                        <p class="card-text text-white-50">
                            Si hay algún retraso o cualquier otro error 
                            cometido por nosotros, garantizamos un reembolso 
                            completo, que puede ser instantáneo dependiendo 
                            del método de pago.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desktop w-100 justify-content-center">
    <div class="d-flex w-50 col-12 gap-3 justify-content-between home-w">
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-money-bill-transfer"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            ¡Las mejores tasas del mercado!
                        </h3>
                        <p class="card-text text-white-50">
                            Ofrecemos las tasas mas competitivas y 
                            los precios más económicos para tu oro 
                            y tus juegos, comprarnos a nosotros es 
                            asegurar sacarle el máximo rendimiento 
                            a tu dinero.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-handshake-simple"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            ¡Entregamos nuestros productos en pocos minutos!
                        </h3>
                        <p class="card-text text-white-50">
                            Entregas de oro desde los 5 minutos 
                            de haber realizado tu compra. 
                            Si por algún motivo externo hay 
                            algún retraso, nuestro equipo de soporte
                            estará disponible para atenderte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="desktop w-100 justify-content-center">
    <div class="d-flex w-50 col-12 gap-3 justify-content-between home-w">
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i class="fa-solid fa-star" style="font-size: 4em"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Reputación y experiencia
                        </h3>
                        <p class="card-text text-white-50">
                            Al utilizar nuestros servicios puedes 
                            estar seguro que tanto tu dinero como tu 
                            oro están en buenas manos, contamos 
                            con cientos de referencias en nuestro Trustpilot 
                            y miles de ordenes que nos avalan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-0 col-6 bg-gray" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <div
                        class="img-fluid rounded-start align-self-center text-warning"
                    >
                        <i
                            class="fa-solid fa-user-shield"
                            style="font-size: 4em"
                        ></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-gray">
                        <h3 class="card-title text-white">
                            Garantizamos reembolsos
                        </h3>
                        <p class="card-text text-white-50">
                            Si hay algún retraso o cualquier otro error 
                            cometido por nosotros, garantizamos un reembolso 
                            completo, que puede ser instantáneo dependiendo 
                            del método de pago.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desktop w-100 justify-content-center mt-5">
    <div class="d-flex w-50 home-carrousel justify-content-between align-items-center">
        <h2 class="text-white">
            Nuestros clientes:
        </h2>
        <div class="d-flex align-self-center">
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex">
                <img
                    class="logo mx-auto py-1 col-6"
                    src="/images/trustpilot-logo.png"
                    alt="Logo Victory Gold"
                />
            </a>
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex url mt-3">
                <p class="text-white-50 align-self-center">
                    <strong class="text-white">Excellent 4.9</strong> out of 5.0
                    <br/>
                    <small>Based on thousands of reviews</small>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="mobile w-100 justify-content-center">
    <div class="w-75 d-flex text-white mt-5">
        <h2>
            Nuestros clientes:
        </h2>
    </div>
</div>
<div class="mobile w-100 my-0 justify-content-center">
    <div
        id="carouselExampleInterval"
        class="carousel slide "
        data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="w-75 d-flex">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Freddy Mara
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            siempre han sido confiables amables y…
                                        </p>
                                        <small class="text-white-50">
                                            siempre han sido confiables amables y muy responsables responden rapido con buen trato y siempre me han cumplido han sido por estos años una empresa que ha cumplido con sus clientes
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://es.trustpilot.com/reviews/654690b27caf48b42dcfba3c" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Carlos Humberto R
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Excelente servicio
                                        </p>
                                        <small class="text-white-50">
                                            fue una muy buena experiencia ya que te atienden sin demora y el proceso es rápido, los pagos son en el momento y no se tiene que esperar por horas para recibir tu dinero
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://es.trustpilot.com/users/653adace29f7530011a3028a" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Luis Torrealba
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Rápidos y guapos lo que más me gusta es…
                                        </p>
                                        <small class="text-white-50">
                                            Rápidos y guapos lo que más me gusta es que tienen una tasa de precios online y no tengo que preguntar precios todos los días un genio el que programo la tabla
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://es.trustpilot.com/reviews/653ab4061e85d645511e9824" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            alexander mancia
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Muy buena atención y paciencia para…
                                        </p>
                                        <small class="text-white-50">
                                            Muy buena atención y paciencia para guiar con las dudas y puntuales con el pago
                                            Muy contento con el servicio
                                            Recomendados
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://es.trustpilot.com/reviews/653edea14913ef9115b9373d" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="min-width: 250px; min-height: 450px; display: flex; flex-direction: column; ">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Belén Paredes
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Venta positiva
                                        </p>
                                        <small class="text-white-50">
                                            La verdad muy conforme con la interacción en la venta del oro. Era mi primera venta y fue muy sencillo y rápido, además que me guio y ayudo en todo.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center m-auto mb-3">
                                <a href="https://es.trustpilot.com/reviews/654187a61bd097cd717b3a49" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile w-100 justify-content-center">
    <div class="d-flex w-75 flex-co justify-content-center align-items-center">
        <div class="d-flex flex-column align-self-center justify-content-center">
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex">
                <img
                    class="logo mx-auto mb-0"
                    src="/images/trustpilot-logo.png"
                    alt="Logo Victory Gold"
                />
            </a>
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es" target="_blank" class="d-flex url mx-auto text-center">
                <p class="text-white-50 align-self-center">
                    <strong class="text-white">Excellent 4.9</strong> out of 5.0
                    <br/>
                    <small>Based on thousands of reviews</small>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="desktop w-100 mb-5 justify-content-center">
    <div
        id="carouselExampleInterval2"
        class="carousel slide home-carrousel"
        data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Freddy Mara
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            siempre han sido confiables amables y…
                                        </p>
                                        <small class="text-white-50">
                                            siempre han sido confiables amables y muy responsables responden rapido con buen trato y siempre me han cumplido han sido por estos años una empresa que ha cumplido con sus clientes
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/654690b27caf48b42dcfba3c" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Carlos Humberto R
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Excelente servicio
                                        </p>
                                        <small class="text-white-50">
                                            fue una muy buena experiencia ya que te atienden sin demora y el proceso es rápido, los pagos son en el momento y no se tiene que esperar por horas para recibir tu dinero
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/users/653adace29f7530011a3028a" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Luis Torrealba
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Rápidos y guapos lo que más me gusta es…
                                        </p>
                                        <small class="text-white-50">
                                            Rápidos y guapos lo que más me gusta es que tienen una tasa de precios online y no tengo que preguntar precios todos los días un genio el que programo la tabla
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/653ab4061e85d645511e9824" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            alexander mancia
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Muy buena atención y paciencia para…
                                        </p>
                                        <small class="text-white-50">
                                            Muy buena atención y paciencia para guiar con las dudas y puntuales con el pago
                                            Muy contento con el servicio
                                            Recomendados
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/653edea14913ef9115b9373d" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Belén Paredes
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Venta positiva
                                        </p>
                                        <small class="text-white-50">
                                            La verdad muy conforme con la interacción en la venta del oro. Era mi primera venta y fue muy sencillo y rápido, además que me guio y ayudo en todo.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/654187a61bd097cd717b3a49" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Jorge Alberto Cerda
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Atención rápida y tranquilidad con el…
                                        </p>
                                        <small class="text-white-50">
                                            Atención rápida y tranquilidad con el pago. Segunda ves que vendo con los chicos y sin problemas. Se hizo la venta, pase mis datos de cuenta binance y a esperar el deposito. Todo bien, los recomiendo
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/650f0ff75b09af5b7d5dfcda" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            carlos rivera
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Tranferencias seguras y muy confiables
                                        </p>
                                        <small class="text-white-50">
                                            Tranferencias seguras y muy confiables, además de poder contar con el depósito del dinero en mi moneda local
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/650a1a3a2a06c04e55742a15" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Matias Meza
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Una empresa de confianza y con muy…
                                        </p>
                                        <small class="text-white-50">
                                            Una empresa de confianza y con muy buena gestión
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/652d7608343c8391dcf34f68" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Franco Osorio
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Porque atendieron rápido y…
                                        </p>
                                        <small class="text-white-50">
                                            Porque atendieron rápido y eficientemente comprobando todo en su momento
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/6525c0b3850598ceb747c9f3" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            ISMAEL ALI CANAVIRI
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            conforme como siempre
                                        </p>
                                        <small class="text-white-50">
                                            ya hice muchos trades con la pagina y son amables y realizan el pago rapidamente
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64f78dc5048a96e17dafe39c" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-flex w-100 justify-content-center mt-5">
                    <div class="d-flex w-75 gap-2">
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Gastón Cragno
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Fácil, rápido y seguro
                                        </p>
                                        <small class="text-white-50">
                                            Fácil y rápido, es de confianza ya hice varios tratos con ellos y siempre fue así. Contestan a tiempo siempre y cuando le hables en el horario de atención, todo perfecto.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64f66ac4c2ae240f105ad9ea" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Lu
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Ya hice varias transacciones con ellos
                                        </p>
                                        <small class="text-white-50">
                                            Ya hice varias transacciones con ellos, todo en orden. Suele demorar 10 min aprox, eso depende del método que elijan, yo siempre usé binance para cambiar a pesos acá en Argentina.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64f513de1ac1860d245c582c" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Yuber Yuber Yuber
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            siempre de confianza sin perdida y…
                                        </p>
                                        <small class="text-white-50">
                                            siempre de confianza sin perdida y buenos precios, para lo rápido que te pagan, (y)
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64e7e58f5d49a8edec9cca4a" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            Andres Polo Orozco
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Por que no esperaba que fuera tan bueno…
                                        </p>
                                        <small class="text-white-50">
                                            Por que no esperaba que fuera tan bueno o vivia con el miedo ese en otros juegos en estafa pero este fue la excepción y fue muy rapido el servicio
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64e6580969ac49510648f1d7" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                        <div class="card mb-3 border-0 bg-gray" style="max-width: 300px; min-height: 450px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="card-body bg-gray">
                                        <small class="text-white-50">
                                            El Canal del pudge
                                        </small>
                                        <h5 class="card-title text-white mt-3">
                                            <img src="/images/5-stars.png" class="w-50" alt="5 estrellas Trustpilot">
                                        </h5>
                                        <p class="card-text text-white mt-3 mb-1">
                                            Tienen buenos tutoriales y responden rápido y los pagos inmediatos
                                        </p>
                                        <small class="text-white-50">
                                            Responde rápido y te ayuden en lo q no sabes y los pagos son rápidos y confiables
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <small class="d-flex justify-content-center mb-3">
                                <a href="https://es.trustpilot.com/reviews/64deb1720e7fbe798a04384f" target="_blank" class="url text-warning border-bottom border-warning">
                                    Mira la referencia aquí
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval2"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval2"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div
    class="col-12 mobile flex-column align-items-center justify-content-center mt-5 text-center"
>
    <p class="text-white w-75" style="font-size: 1.5em;">
        <strong
            >¿Eres un gamer profesional o un farmer de oro dispuesto a trabajar
            con Victory Gold?</strong
        >
        <br />
        <div class="d-flex justify-content-center text-center w-75">
            <small class="text-white-50 g-0" style="font-size: 1em"
                >Únete a nuestro equipo de más de 8,000 gamers profesionales y
                proveedores que son pagados por ayudar a otros gamers en todo el
                mundo.</small
            >
        </div>
        <br />
        <div class="d-flex w-50 justify-content-center text-center">
            <a href="/buy" class="btn btn-warning text-black w-75 p-3 my-5 url"
                ><strong>COMIENZA A GANAR</strong></a
            >
        </div>
    </p>
</div>
<div
    class="col-12 desktop flex-column align-items-center justify-content-center my-5 text-center"
>
    <p class="text-white col-6 text-home-mid">
        <strong
            >¿Eres un gamer profesional o un farmer de oro dispuesto a trabajar
            con Victory Gold?</strong
        >
        <br />
        <div class="d-flex justify-content-center text-center w-50">
            <small class="text-white-50 g-0" style="font-size: 1em"
                >Únete a nuestro equipo de más de 8,000 gamers profesionales y
                proveedores que son pagados por ayudar a otros gamers en todo el
                mundo.</small
            >
        </div>
        <br />
        <div class="d-flex w-50 justify-content-center text-center">
            <a href="/buy" class="btn btn-warning text-black w-25 p-3 my-5 url"
                ><strong>COMIENZA A GANAR</strong></a
            >
        </div>
    </p>
</div>