<div class="mobile-form">
    <div class="w-100 mobile justify-content-center my-5">
        <div
            class="d-flex justify-content-center align-content-center col-10 my-5"
        >
            <img
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center justify-center mx-2"
            />
            <h2 class="form-text-mobile mb-0 pb-2">
                La transacción está siendo procesada. Por favor, espere unos
                minutos. Si el mensaje persiste, por favor contáctenos via chat
            </h2>
        </div>
    </div>
</div>

<div class="container justify-content-center desktop">
    <div class="row m-5 text-center col-12 p-3 rounded-3">
        <div class="col-12 d-flex justify-content-center">
            <img
                src="/images/icons/logo.svg"
                alt="logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center m-2"
            />
            <p class="form-text-desktop mb-0 pb-2">
                La transacción está siendo procesada. Por favor, espere unos
                minutos. Si el mensaje persiste, por favor contáctenos via chat
            </p>
        </div>
    </div>
</div>
