<div class="mobile-form">
    <div class="w-100 mobile justify-content-center my-5">
        <div
            class="d-flex justify-content-center align-content-center col-10 my-5"
        >
            <div class="d-flex w-100 flex-column text-white-50 text-start" style="font-size: 0.7em;">
                <div class="d-flex mb-5">
                    <img
                        src="/images/icons/logo.svg"
                        alt="Logo Victory Gold"
                        style="width: 2em; height: 2em"
                        class="align-self-center justify-center mx-2"
                    />
                    <h2 class="form-text-mobile mb-0 pb-2">Terms of Service</h2>
                </div>
                <p><strong>By using any of the Services and the Website, You expressly agree to be bound by these terms and all applicable laws and regulations governing the Website and the Services. The terms form a legally binding agreement between you and www.victorygold.com in relation to your use of the Website and/or the Services and applies to all users of the Services, whether registered or not, on the Website.</strong></p>
            </br></br>
            <p class="text-warning">Summary of Terms of Service</p>
            </br></br>
            <p>
                Victory Gold resells digital goods to its customers via this platform. Victory Gold also buys digital goods from its suppliers, and only after taking full ownership of these products Victory Gold sells them to its customers. However, Victory Gold does not cross-check the quality and accuracy of the items it resells, and hence Victory Gold cannot guarantee the accuracy, quality or legality of even the existence of the items advertised or sold. In the interest of clarity, Victory Gold shall not be liable for non-deliver or delivery damaged goods and the users shall have no right of chargeback for such goods. Victory Gold disowns any responsibilities or liability for any content pertaining to a user name, profiles, audio-video articles, data text information and links posted by You or other users or third parties Website. The use of the Website is entirely at the sole responsibility and risk of the User.
We may, at our sole discretion, modify or revise these Terms of Service and policies at any time by giving notice on our Website and/or through the Services, and you agree to be bound by such modifications or revisions. Although Victory Gold may attempt to notify you, when major changes are made to these Terms of Service, you should periodically click on our Terms of Service to review any updates. All changes shall be effective immediately when we post them and shall apply to all access to and use of our Website thereafter. Nothing in these Terms of Service shall be deemed to confer any third-party rights or benefits hereunder.
Victory Gold may review and delete any User Content that, in its sole judgment, violates these Terms of Use, applicable law, rule or regulation, is offensive or illegal or violates the rights of, harms or threatens the safety of Users of Victory Gold. The Victory Gold reserves the right to expel Users and prevent their further access to Victory Gold for violating the Terms of Use or applicable law, rule or regulation and the right to remove User Content which is in violation of the Terms of Use, abusive, illegal, or disruptive.
The User hereby agrees that Website shall be in active mode during the performance of the Service without being any exceptions whatsoever.
            </p>
            </br></br>
            <p class="text-warning">Trading Risks</p>
            </br></br>
            <p>
                You are advised not to use Victory Gold if you do not understand the parameters of the risk involved in the transactions and enter only into a trade only when you know the trading options available and the characteristics of digital goods you intend to trade. There are many Transaction Risks, including risks of liability or harm of any kind connected with using the Site. Such risks shall include, but are not limited to:
(i) misrepresentation of products and services, fraudulent schemes, unsatisfactory quality, failure to meet specifications, defective or dangerous products, unlawful products, delay or default in delivery or payment, cost miscalculations, breach of warranty, and breach of contract; (ii) risks that the manufacture, importation, distribution, offer, display, purchase, sale and/or use of products or services provided or displayed on the Site may violate or may be asserted to infringe Third Party Rights, and the risk that Users may incur costs of defense or other charges in connection with third parties' assertion of Third Party Rights, or in connection with any claims by any party that they are entitled to defense or indemnification in relation to assertions of rights, demands, or ownership by Third Party Rights claimants; (iii) risks that consumers, other purchasers, end-users of products, or others claiming to have suffered injuries or harms relating to a product obtained initially by Users of the Site as a result of purchase and sale transactions in connection with.
            </p>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            <p><strong class="text-warning">Complete Terms of Service</strong></p>
            </br></br>
            <p><strong class="text-warning">1. Definitions </strong></p>
            </br></br>
            <p><strong class="text-warning">1.1 </strong>Users are hereinafter referred to as “You, Users, customers, suppliers” As used in this Agreement, “www.victorygold.com ", "we," "us," and "our" shall mean Victory Gold and its subsidiaries and affiliates. These Terms do not alter in any way the terms or conditions of any other agreement you may have with Victory Gold for its services or otherwise.</p>
            </br></br>
            <p><strong class="text-warning">1.2 </strong>Account shall mean the account created by the User on the Victory Gold Platform.</p>
            </br></br>
            <p><strong class="text-warning">1.3 </strong>User – any person who accesses the Website for whatever purpose, regardless of whether said User has registered with the Website as a Registered User. A User includes any person using this Website and any legal entity which may be represented by such person under actual or apparent authority.</p>
            </br></br>
            <p><strong class="text-warning">1.4 </strong>"Items/goods" means Digital Assets, ripples and other goods that may be purchased, sold or traded via the Services.</p>
            </br></br>
            <p><strong class="text-warning">1.5 </strong>Representative is an entity and its Affiliate(s), any director, officer, employee, consultant, contractor, agent, and attorney associated with the Victory Gold.</p>
            </br></br>
            <p><strong class="text-warning">1.6 </strong>Content means report text, web chat, graphics, emoji’s, images, music, software, audio, video, information or other materials.</p>
            </br></br>
            <p><strong class="text-warning">1.7 </strong>Victory Gold Content means all Content that Victory Gold make available through the Website, Services, or its related promotional campaigns and official social media channels, including any Content licensed from a third party, but excluding User Content.</p>
            </br></br>
            <p><strong class="text-warning">1.8 </strong>Collective Content means User Content and Victory Gold’s Content.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">1. Account Registration</strong></p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>By creating an account, you agree to: (i) provide accurate, current and complete account information; (ii) maintain the security of your password, not share your password with any other person and accept all risks of unauthorized access to your account; and (iii) promptly provide notice to Victory Gold if you discover or otherwise suspect any security breaches related to the Services.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>We allow You to open only one Account in association with the Registration Data provided by You.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>You acknowledged and agree that any Content you place on the Service may be viewed by other Users and may be viewed by any person visiting Website.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>You agree and accept that all of the information you provide to Victory Gold when setting up your User Account and at any other time shall be true, correct, complete and accurate in all respects.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">3. Use of the Service</strong></p>
            </br></br>
            <p><strong class="text-warning">3.1 </strong>You warrant that neither you are engaged in any illegal activity, nor you will use the Website for any unlawful purpose or activity.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">3.1 </strong>Each User hereby represents, warrants, and agrees that it has obtained all necessary Third-Party copyright, trademark, trade secret or patent licenses and permissions, or such other consents or permissions as may be required in connection with any other personal or proprietary rights of any third party (including but not limited to rights of personality and rights of privacy), for any material or information it posts on the Website or provides to Victory Gold/the Website or authorizes Victory Gold to display. Each User hereby represents, warrants, and agrees that it shall be solely responsible for ensuring that any material or information it posts on the Website or provides to Victory Gold or authorizes Victory Gold to display does not and that the products represented thereby do not violate any Third Party Rights, or is posted with the permission of the owner(s) of such rights. Each User hereby represents, warrants, and agrees that it has the right to manufacture, offer, sell, import and distribute the products it provides and displays on the Website and that such manufacture, offer, sale, importation and/or distribution of those products violates no Third Party Rights.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">4. Payment & Fees</strong></p>
            </br></br>
            <p><strong class="text-warning">4.1 </strong>The terms set hereunder are subject to the terms and conditions laid down in the Sale agreement between Buyers, Suppliers, Partners, Affiliates and Victory Gold through and not limited to our website, Skype, forum, Discord, social media or any other medium of communication.</p>
            </br></br>
            <p><strong class="text-warning">4.2 </strong>Seller fees: Seller fees can be viewed here https://victorygold.com/cart. Victory Gold reserves the right to change fees from time to time with advance notice of 14 days. However, no advance notice shall be given for temporary promotions.</p>
            </br></br>
            <p><strong class="text-warning">4.3 </strong>Withdrawal fees. Fees for processing payments that we charge shall be posted on our fees page. These fees also shall be subject to change with 14 days advance notice, but no such notice shall be given for temporary promotions.</p>
            </br></br>
            <p><strong class="text-warning">4.4 </strong>You must have a payment method on file and pay all fees and applicable taxes associated with Services by the due date; in the event your payment method fails for any reason, we may collect fees owed to us using others collection methods including retaining collection agencies and legal- counsel. Further, late payments of fees shall be subject to charge of late fees.</p>
            </br></br>
            <p><strong class="text-warning">4.5 </strong>You warrant and represent that all information that you provide to Victory Gold or its payment processors you are authorized to use such information including, without limitation, the credit card, PIN, Key or associated account, and you authorize Victory Gold and the payment processors to charge you for your purchases, subscriptions or any other fees owed to it.</p>
            </br></br>
            <p><strong class="text-warning">4.6 </strong>An effort will be made to pay tabs or balances immediately to our Buyers, Suppliers, Partners, Affiliates, however withdrawals may take up to 7 business days from the time, amount requested.</p>
            </br></br>
            <p><strong class="text-warning">4.7 </strong>A withdrawal fee may apply depending on the amount, currency and method. Cryptocurrency transaction fees of up to $1 will be covered by us. Should the network fee exceed this amount, we may ask you to cover the amount excess of $1, or offer an alternative withdrawal method for settlement.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">5. Transactions between Buyers and Sellers</strong></p>
            </br></br>
            <p>For exchanging information on products and services, Victory Gold provides a platform to Buyer (s) and Seller Seller (s). Victory Gold requires the parties to complete the transaction, i.e. deliver the goods to the Buyer, and only on delivery of goods, the Seller shall get paid.
Users are solely responsible for all transactions conducted on, through, or as a result of the use of the Site, including, without limitation, terms regarding payment, returns, warranties, shipping, insurance, fees, taxes, title, licenses, fines, permits, handling, transportation and storage.
Listing Description. While listing on the Website, you must accurately describe your item and all terms of sale. You warrant that you and all aspects of the thing comply with the Website’s policies. You further warrant that you have the full rights to sell the listed item and that such selling will not violate any legal or contractual obligations to which you may be subject. All items must be listed in an appropriate category with appropriate tags.
Binding Sales. All sales are binding. The Seller shall ensure the shipment of the order, transfer the item, or otherwise complete the transaction with the Buyer in a prompt manner.
In each transaction on the Website, Victory Gold is hereby authorized by the respective Seller to accept a respective payment from the Buyer on behalf of the Seller for the goods sold by such Seller to the Buyer. As an abundant caution and in the interest of clarity, the funds received on behalf of the Seller by Victory Gold are and at all times remains the property of Seller.</p>
            </br></br>
            <p><strong class="text-warning">5.1 Account Insurance Terms of Service: </strong>Victory Gold Insurance protects you from recalls by the original owner. Third party programs, in-game behaviour, gold selling, account sharing, or any other form of negligence is not covered. Any attempt to sell or trade your account shall void your insurance coverage. The insurance coverage shall be considered void in the event that the email used to purchase the account has been changed or has been migrated to the Jagex launcher without prior consultation. Changing the email or migrating the account to the Jagex launcher without prior consultation will result in your insurance coverage being voided as we will not be able to conduct a full investigation. An insurance claim must be filed through customer support and shall be investigated by us. It may take up to 48 hours to receive an update. If an account is reclaimed by the original owner and is promptly returned to you, no refund shall be granted. If the account is recovered a second time after the original claim, then we shall invoke the insurance coverage. The insurance only covers the original purchase price of your account, purchased from us. If your original payment is disputed through your bank, the insurance coverage shall be voided. Victory Gold Insurance is non-transferable. Any attempt at selling, trading, or sharing of the account outside of our website will void the insurance. </p>
            </br></br>
            <p><strong class="text-warning">6. Representations and Warranties of Users</strong></p>
            </br></br>
            <p>NEITHER Victory GOLD, NOR ITS PARENTS, AFFILIATES OR LICENSORS, INCLUDING THEIR RESPECTIVE DIRECTORS, OFFICERS, SHAREHOLDERS, AGENTS, INVESTORS, SUBSIDIARIES, ATTORNEYS, REPRESENTATIVES, INSURERS, EMPLOYEES, SUCCESSORS AND ASSIGNS (COLLECTIVELY REFERRED TO AS “AFFILIATES”) IS RESPONSIBLE OR LIABLE FOR THE CONDUCT, ACTS, OR OMISSIONS, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE Victory GOLD PLATFORM AND, TO THE EXTENT PERMITTED BY LAW, YOU HEREBY RELEASE Victory GOLD AND AFFILIATES FROM ANY AND ALL LIABILITY, CLAIMS, DEMANDS, OR DAMAGES OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE Victory GOLD PLATFORM.</p>
            </br></br>
            <p>In using the Service, you agree that you will not, and will not allow or authorize any third party to:</p>
            </br></br>
            <p><strong class="text-warning">6.1 </strong>Alter, remove or obscure any copyright notice, digital watermark, proprietary legend or any other notice included in materials in the Service</p>
            </br></br>
            <p><strong class="text-warning">6.2 </strong>Use any of the trademarks, trade names, service marks, copyrights or logos of Victory Gold in any manner that creates the impression such items belong to or are associated with you or are used with Victory Gold’s consent.</p>
            </br></br>
            <p><strong class="text-warning">6.3 </strong>Use any software, device or any other process to “scrape” or download data from the Website.</p>
            </br></br>
            <p><strong class="text-warning">6.4 </strong>Either obtain or attempt to obtain through any means any materials or information on the Service that have not been intentionally made publicly available either by public display on the Service or through accessibility by a visible link on the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.5 </strong>Interfere with or attempt to interfere with or otherwise disrupt the proper working of the Service, any activities conducted on or through the Service or any servers or networks connected to the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.6 </strong>Violate the security of the Service or attempt to gain unauthorized access to the Service, data, materials, information, computer systems or networks connected to any server associated with the Service, through hacking or any other means.</p>
            </br></br>
            <p><strong class="text-warning">6.7 </strong>Either take or attempt any action that, in the sole discretion of Victory Gold, imposes or may impose an unreasonable burden on the Service or the infrastructure of the Service, or otherwise abuse the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.8 </strong>Use or permit the Service to be used to perform services for third parties, including as a service bureau, SaaS, time sharing basis or otherwise.</p>
            </br></br>
            <p><strong class="text-warning">6.9 </strong>Distribute, sell, license or otherwise provide the Service to third parties.</p>
            </br></br>
            <p><strong class="text-warning">6.10 </strong>Create programs similar or identical to Victory Gold Cloud.</p>
            </br></br>
            <p><strong class="text-warning">6.11 </strong>Disclose the results of any performance or functional evaluation of the Service, including benchmark results or competitive analyses.</p>
            </br></br>
            <p><strong class="text-warning">6.12 </strong>Contain fraudulent information or make fraudulent offers of items or involve the sale or attempted sale of counterfeit or stolen items or items whose sales and/or marketing is prohibited by applicable law, or otherwise promote other illegal activities;</p>
            </br></br>
            <p><strong class="text-warning">6.13 </strong>Be part of a scheme to defraud other Users of the Website or for any other unlawful purpose;</p>
            </br></br>
            <p><strong class="text-warning">6.14 </strong>Relate to the sale of products or services that infringe or otherwise abet or encourage the infringement or violation of any Third Party Rights;</p>
            </br></br>
            <p><strong class="text-warning">6.15 </strong>Violate any applicable law, statute, ordinance or regulation (including without limitation those governing export control, consumer protection, unfair competition, anti–discrimination or false advertising); and be defamatory, libelous, unlawfully threatening or unlawfully harassing;</p>
            </br></br>
            <p><strong class="text-warning">6.16 </strong>Users additionally represent and warrant that: For any of the following purposes, the list is illustrative not exhaustive, the Victory Gold platform may not be used:</p>
            </br></br>
            <p><strong class="text-warning">6.17 </strong>To impersonate another person or a User or allow any other person or entity to use your user profile to post or view comments;</p>
            </br></br>
            <p><strong class="text-warning">6.18 </strong>To publish, post, upload, distribute or disseminate any profane, illegal, defamatory, infringing, obscene or unlawful language, material or information;</p>
            </br></br>
            <p><strong class="text-warning">6.19 </strong>To defame, abuse, harass, stalk, threaten, intimidate, misrepresent, mislead or otherwise violate the rights (such as, but not limited to, rights of privacy, confidentiality, reputation, and publicity) of others, including Users and Victory Gold staff;</p>
            </br></br>
            <p><strong class="text-warning">6.20 </strong>To upload files that contain software or other material that violates the intellectual property rights (or rights of privacy or publicity) of any User, third party, or Victory Gold;</p>
            </br></br>
            <p><strong class="text-warning">6.21 </strong>To constitute any personally identifiable information of any third party that you do not have adequate rights to input, distribute, upload, post, email, transmit or otherwise make available via the Service;</p>
            </br></br>
            <p><strong class="text-warning">6.22 </strong>To advertise or offer to sell any goods or services for any commercial purpose through the Victory Gold Platform which are not relevant to the Service Request services; and to infringe any Intellectual Property Rights of Victory Gold or any third party.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">7. Third Party Websites and Services</strong></p>
            </br></br>
            <p><strong class="text-warning">7.1 </strong>The Service and Content available through the Website may integrate with other third party service providers and third-party payment processor Services e.g. Stripe. If you link to Third Party Websites, you may be subjected to those Third-Party Websites' terms and conditions and other policies. Victory Gold makes no representation or guarantee as to the accuracy or authenticity of the information contained in any such Third-Party Website, data protection and your linking to any other Website is completely at your own risk and Victory Gold disclaims all liability thereto.</p>
            </br></br>
            <p><strong class="text-warning">7.2 </strong>Any and all contents and services (including advertising) within Victory Gold that are not owned by Victory Gold are "third party content and services." Victory Gold acts merely as an intermediary user of, and accepts no responsibility or liability for third party content and services. In addition, and without limiting the generality of the foregoing, Victory Gold may include links to Websites operated by third parties, including advertisers and other content providers. Those Websites may collect data or solicit personal information from you. Victory Gold does not control such Websites, and is not responsible for their content, policies, or collection, use or disclosure of any information, those Websites may collect.</p>
            </br></br>
            <p><strong class="text-warning">7.3 </strong>Furthermore, Victory Gold uses a third party verification service "Veriff" to provide ID and customer verification services. This third party service will likely only need to occur once, and is subject to the related disclaimers and statements made in the entirety of these terms of service, including but not limited to "Third Party Websites and Services". By conducting a purchase from Victory Gold you agree to provide the information requested to Veriff and the ability for it to be used in any way necessary to conduct a review and determine, authenticate, and verify your identity and share that with Victory Gold. Victory Gold uses the verification as a means to determine your identity as a part of transaction assessment.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">8. License to Use</strong></p>
            </br></br>
            <p><strong class="text-warning">8.1 </strong>Except as otherwise agreed upon, we hereby grant you a limited, nonexclusive, non-sub-licensable license to access, and use the Platform. You will not use, copy, adapt, modify, decompile, reverse engineer, disassemble, decrypt, attempt to derive the source code, prepare derivative works based upon, distribute, license, sell, rent, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Platform and Content, except as expressly permitted by Victory Gold or as permitted under applicable law. Any unauthorized use of the Services is strictly prohibited and will terminate the license granted in these Terms. No licenses or rights are granted to you by implication or otherwise, except for the licenses and rights expressly granted to you.</p>
            </br></br>
            <p><strong class="text-warning">8.2 </strong>Victory Gold will not be liable on account of any inaccuracy of information on its Website. It is the responsibility of the visitor to further research the information on the Website. The user undertakes not to duplicate, download publish, modify and distribute material on Victory Gold unless specifically authorized by Victory Gold in this regard.</p>
            </br></br>
            <p><strong class="text-warning">8.3 </strong>In no event shall we, our affiliates or our partners be liable (directly or indirectly) for any losses or damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to your conductor of anyone else in connection with the use of the Service including, without limitation, death, bodily injury, emotional distress, and/or any other damages resulting from communications or meetings with other users or persons you meet through the Service.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">9. Ownership and Intellectual Property </strong></p>
            </br></br>
            <p><strong class="text-warning">9.1 </strong>This Website and all content forming part of the Website, including without limitation, all photographs, ideas, images, designs, information, interfaces, text, graphics, brand names, logos and trademarks, are protected by copyright, trade mark and other intellectual property laws of the United States and Canada.</p>
            </br></br>
            <p><strong class="text-warning">9.2 </strong>You acknowledge and agree that Victory Gold owns, controls or is licensed all legal right, title and interest in and related to the Website, including all intellectual property rights. You may not:</p>
            </br></br>
            <p><strong class="text-warning">9.3 </strong>Modify or copy the idea of trade, layout or appearance of the Website or any computer software or code contained in the Website; and/or</p>
            </br></br>
            <p><strong class="text-warning">9.4 </strong>Decompile or disassemble, reverse engineer or otherwise attempt to discover or access any source code related to the Website.</p>
            </br></br>
            <p><strong class="text-warning">9.5 </strong>If you believe that anything on or available through the Services infringes upon any copyright which you own or control, you may contact us at legal@victorygold.com</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">10. Indemnification </strong></p>
            </br></br>
            <p><strong class="text-warning">10.1 </strong>The User agrees and undertake to indemnify and to hold harmless Victory Gold and other parties determined by Victory Gold, Victory Gold affiliates, successors, agents, assigns, and each of their directors, officers, employees, associates, agents, and representatives from and against any data loss, financial losses, damages, liability, claims, costs, penalty and expenses (including, without limitation, reasonable attorneys’ fees) incurred by reason of (i) any breach or alleged breach by the User of the User’s obligations, responsibilities, representations, or warranties under the Subscription Agreement and/or User T&C; (ii) any infringement or unauthorized use of intellectual property rights of Victory Gold including but not limited to infringement of intellectual property rights of Victory Gold in the Website (iii) any breach of the confidentiality obligations of the User under this Agreement or User T&C; (iv) any violation of Victory Gold policies by the User; (v) any harm to the reputation and goodwill of Victory Gold directly attributable to the User; and (vi) damage, unauthorized use or loss of the Website.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">11. Electronic Communications </strong></p>
            </br></br>
            <p><strong class="text-warning">11.1 </strong>When you send an e-mail or chat electronically with Victory Gold, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail, phone calls or sms text messages. You agree that all agreements, notices, disclosures and other communications that Victory Gold provides to you electronically satisfy legal requirements that such communications be in writing.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">12. Reliance on Information Posted </strong></p>
            </br></br>
            <p><strong class="text-warning">12.1 </strong>The information presented on or through the Website is made available solely for general purposes. We do not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information is strictly at your own risk and responsibility. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">13. Limitation of Liability </strong></p>
            </br></br>
            <p>Victory GOLD, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY(I) DATA LOSS (II) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (III) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (IV) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (V) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (VI) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (VII) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND (INCLUDING LOSS OR DAMAGE TO CONTENT), IN EACH CASE WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT Victory GOLD IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU SPECIFICALLY ACKNOWLEDGE THAT Victory GOLD SHALL NOT BE LIABLE FOR THE CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS. THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU, IN SUCH JURISDICTIONS, OUR LIABILITY IS LIMITED TO THE EXTENT PERMITTED BY LAW, THEREBY MINIMIZING OUR LIABILITY TO YOU TO THE LOWEST AMOUNT PERMITTED BY APPLICABLE LAW. THE SERVICES ARE CONTROLLED AND OFFERED BY Victory GOLD FROM ITS FACILITIES IN UNITED STATES AND CANADA. Victory GOLD MAKES NO REPRESENTATIONS THAT THE SERVICES ARE APPROPRIATE OR AVAILABLE FOR USE IN OTHER LOCATIONS. THOSE WHO ACCESS OR USE THE SERVICES FROM OTHER JURISDICTIONS DO SO AT THEIR OWN VOLITION AND ARE RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAW.</p>
            </br></br>
            <p>YOU ACKNOWLEDGE AND AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH Victory GOLD IS TO STOP USING THE Victory GOLD PLATFORM, AND TO CANCEL ANY AND ALL OF YOUR Victory GOLD ACCOUNTS, IF APPLICABLE.</p>
            </br></br>
            <p>Victory Gold and its affiliates, directors, officers and employees shall not be liable for any special, direct, indirect, punitive, incidental or consequential damages or any damages whatsoever (including but not limited to damages for loss of profits or savings, business interruption, loss of information), whether in contract, negligence, tort, strict liability or otherwise, or any other damages resulting from any of the following</p>
            </br></br>
            <p><strong class="text-warning">13.1 </strong>The use or the inability to use the Website</p>
            </br></br>
            <p><strong class="text-warning">13.2 </strong>Any defect in goods, samples, data, information or services purchased or obtained from a User or a third–party service provider through the Website</p>
            </br></br>
            <p><strong class="text-warning">13.3 </strong>Any claims or demands that User’s manufacture, importation, distribution, offer, display, purchase, sale and/or use of products or services offered or displayed on the Website may violate or may be asserted to violate Third Party Rights; or claims by any party that they are entitled to defense or indemnification in relation to assertions of rights, demands or claims by Third Party Rights claimants;</p>
            </br></br>
            <p><strong class="text-warning">13.4 </strong>Unauthorized access by third parties to data or private information of any User;</p>
            </br></br>
            <p><strong class="text-warning">13.5 </strong>Statements, conduct, or material posted by Users of the Website, including defamatory, offensive or illicit material; or</p>
            </br></br>
            <p><strong class="text-warning">13.6 </strong>Any other matter relating to the Website.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">14. Disclaimer of Warranties </strong></p>
            </br></br>
            <p><strong class="text-warning">14.1 </strong>Each User hereby agrees to indemnify and hold harmless Victory Gold, its affiliates, directors, officers, and employees, from any and all losses, claims, liabilities (including legal costs on a full indemnity basis) which may arise, directly or indirectly:</p>
            </br></br>
            <p><strong class="text-warning">14.2 </strong>From such User’s use of the Website, including but not limited to the display of such User's information on the Website;</p>
            </br></br>
            <p><strong class="text-warning">14.3 </strong>From such User’s breach of any of the terms and conditions of this Agreement; From such User’s breach of any representations and warranties made by the User to Victory Gold;</p>
            </br></br>
            <p><strong class="text-warning">14.4 </strong>As a result of any claims asserted by Third Party Rights claimants or other third parties relating to products offered or displayed on the Website.</p>
            </br></br>
            <p><strong class="text-warning">14.5 </strong>YOUR USE OF THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS CONTENT AND ANY SERVICES OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE Victory GOLD NOR ANY PERSON ASSOCIATED WITH THE Victory GOLD MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE.</p>
            </br></br>
            <p><strong class="text-warning">14.6 </strong>We shall not be liable to you for any loss suffered in relation to your use or inability to use the website without limiting the foregoing, neither the Victory Gold nor anyone associated with the Victory Gold represents or warrants that the website, its content or any services or items obtained through the website will be accurate, reliable, error-free or uninterrupted, that defects will be corrected, that our website or the server that makes it available are free of viruses or other harmful components or that the website or any services or items obtained through the website will otherwise meet your needs or expectations.</p>
            </br></br>
            <p><strong class="text-warning">14.7 </strong>WE MAKE EVERY EFFORT TO VERIFY STATEMENTS AND INFORMATION SUBMITTED BY THE THIRD PARTIES AND OUR USERS, THE INFORMATION COMPILED BY US IS BASED ON INFORMATION SUPPLIED BY VARIOUS INDIVIDUALS AND BUSINESSES, IT DOES NOT REPRESENT THE VIEWS OF Victory GOLD. AND Victory GOLD CANNOT BE HELD RESPONSIBLE FOR ANY OMISSIONS OR INACCURATE CLAIMS THAT MAY APPEAR.</p>
            </br></br>
            <p><strong class="text-warning">14.8 </strong>THE Victory GOLD HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.</p>
            </br></br>
            <p><strong class="text-warning">14.9 </strong>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">15. Entire Agreement / Severability </strong></p>
            </br></br>
            <p><strong class="text-warning">15.1 </strong>These Terms and Conditions incorporate our Privacy Policy which together constitutes the entire agreement between You and Victory Gold, in relation to Your use of the Website and/or the Services and supersedes any prior representations, inducements or agreements relating to its subject matter. You agree that these Terms of Use are not intended to confer and do not confer any rights or remedies upon any third party. If any part of these Terms of Use are held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. These Terms of Use, including all terms and policies referenced herein, contain the entire understanding, and supersede all prior agreements, between you and Victory Gold relating to this subject matter, and cannot be changed or terminated orally.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">16. Assignment </strong></p>
            </br></br>
            <p><strong class="text-warning">16.1 </strong>You may not assign these Terms or any of the rights granted hereunder without the prior written consent of Victory Gold, and any attempted assignment without such consent shall be void. Subject to the foregoing restriction, these Terms will be fully binding upon, inure to the benefit of, and be enforceable by us and our respective successors and assigns.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">17. Non-waiver</strong></p>
            </br></br>
            <p><strong class="text-warning">17.1 </strong>Failure by either Victory Gold or You to exercise or enforce any right conferred shall not be deemed to be a waiver of any such right nor operate so as to bar that exercise or enforcement thereof or of any other right on any later occasion.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">18. Force Majeure</strong></p>
            </br></br>
            <p><strong class="text-warning">18.1 </strong>Victory Gold shall not be liable for any delay or failure to perform resulting from causes outside its reasonable control; including, without limitation, any failure to perform hereunder due to unforeseen circumstances or causes beyond its control such as acts of God, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">19. Governing Law and Arbitration</strong></p>
            </br></br>
            <p><strong class="text-warning">19.1 </strong>Governing Law and Arbitration for Canadian Citizens. If you are a Canadian Citizen, you hereby agree that all actions brought in respect of this Agreement, or any Services delivered pursuant to this Agreement, shall be brought before Toronto, and the parties hereby acknowledge the exclusive jurisdiction of the Competent Courts of Ontario.</p>
            </br></br>
            <p><strong class="text-warning">19.2 </strong>Arbitration Procedures. Victory Gold may decide to resolve the dispute via Arbitration and any such dispute relating to the application, interpretation, implementation or validity of this Agreement, the Parties agree to resolve the dispute by arbitration at ADR Chambers using the ADR Chambers Expedited Arbitration Rules (https://adrchambers.com/expedited-arbitration/). The Parties agree that the ADR Chambers Expedited Arbitration Rules give the Parties a fair opportunity to present their case and respond to the case of the other side. The arbitration shall be held in Toronto and shall proceed in accordance with the provisions of the Arbitration Act (Ontario). Judgement upon the award rendered by the arbitrator may be entered in any court having jurisdiction. There will be no appeal from the decision of the arbitrator on questions of fact, law, or mixed fact and law.</p>
            </br></br>
            <p><strong class="text-warning">19.3 </strong>Discovery. Each party may (a) request relevant, non-privileged documents from the other party; and (b) request that the other party provide the particulars of its claims or defenses. Any such discovery requests must be served on the other party within 10 days after the arbitrator’s appointment. The responding party shall provide the requesting party with all responsive, non-privileged documents, the requested particulars, and/or any objections to the requests within 15 days after receipt of the requests. Any disputes about discovery or requests for extensions shall be submitted promptly to the arbitrator for prompt resolution. In ruling on any discovery dispute or extension request, the arbitrator shall take into consideration the nature, amount, and scope of the underlying arbitration claim, the cost and other effort that would be involved in providing the requested discovery, the case schedule, and whether the requested discovery is necessary for the adequate preparation of a claim or defense.</p>
            </br></br>
            <p><strong class="text-warning">19.4 </strong>Communications with the Arbitrator. Whenever communicating with the arbitrator, the parties must include each other – for example, by including the other party on a telephone conference call and copying the other party on any written submissions, such as letters or emails. To the extent practicable, conferences with the arbitrator will take place by telephone conference call or email. Ex parte communications are not permitted with any arbitrator.</p>
            </br></br>
            <p><strong class="text-warning">19.5 </strong>Confidentiality. Upon either party’s request, the arbitrator will issue an order requiring that confidential information of either party disclosed during the arbitration (whether in documents or orally) may not be used or disclosed except in connection with the arbitration or a proceeding to enforce the arbitration award and that any permitted filing of confidential information must be done under seal.</p>
            </br></br>
            </div>
        </div>
    </div>
</div>

<div class="container justify-content-center desktop">
    <div class="row m-5 text-center col-12 p-3 rounded-3">
        <div class="col-12 d-flex justify-content-center">
            <img
                src="/images/icons/logo.svg"
                alt="logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center m-2"
            />
            <div class="d-block">
                <h2 class="form-text-desktop mb-0 pb-2">Terms of Service</h2>
            </div>
        </div>
        <div class="home-w d-flex flex-column text-white-50 text-start mt-5">
            <p><strong>By using any of the Services and the Website, You expressly agree to be bound by these terms and all applicable laws and regulations governing the Website and the Services. The terms form a legally binding agreement between you and www.victorygold.com in relation to your use of the Website and/or the Services and applies to all users of the Services, whether registered or not, on the Website.</strong></p>
            </br></br>
            <p class="text-warning">Summary of Terms of Service</p>
            </br></br>
            <p>
                Victory Gold resells digital goods to its customers via this platform. Victory Gold also buys digital goods from its suppliers, and only after taking full ownership of these products Victory Gold sells them to its customers. However, Victory Gold does not cross-check the quality and accuracy of the items it resells, and hence Victory Gold cannot guarantee the accuracy, quality or legality of even the existence of the items advertised or sold. In the interest of clarity, Victory Gold shall not be liable for non-deliver or delivery damaged goods and the users shall have no right of chargeback for such goods. Victory Gold disowns any responsibilities or liability for any content pertaining to a user name, profiles, audio-video articles, data text information and links posted by You or other users or third parties Website. The use of the Website is entirely at the sole responsibility and risk of the User.
We may, at our sole discretion, modify or revise these Terms of Service and policies at any time by giving notice on our Website and/or through the Services, and you agree to be bound by such modifications or revisions. Although Victory Gold may attempt to notify you, when major changes are made to these Terms of Service, you should periodically click on our Terms of Service to review any updates. All changes shall be effective immediately when we post them and shall apply to all access to and use of our Website thereafter. Nothing in these Terms of Service shall be deemed to confer any third-party rights or benefits hereunder.
Victory Gold may review and delete any User Content that, in its sole judgment, violates these Terms of Use, applicable law, rule or regulation, is offensive or illegal or violates the rights of, harms or threatens the safety of Users of Victory Gold. The Victory Gold reserves the right to expel Users and prevent their further access to Victory Gold for violating the Terms of Use or applicable law, rule or regulation and the right to remove User Content which is in violation of the Terms of Use, abusive, illegal, or disruptive.
The User hereby agrees that Website shall be in active mode during the performance of the Service without being any exceptions whatsoever.
            </p>
            </br></br>
            <p class="text-warning">Trading Risks</p>
            </br></br>
            <p>
                You are advised not to use Victory Gold if you do not understand the parameters of the risk involved in the transactions and enter only into a trade only when you know the trading options available and the characteristics of digital goods you intend to trade. There are many Transaction Risks, including risks of liability or harm of any kind connected with using the Site. Such risks shall include, but are not limited to:
(i) misrepresentation of products and services, fraudulent schemes, unsatisfactory quality, failure to meet specifications, defective or dangerous products, unlawful products, delay or default in delivery or payment, cost miscalculations, breach of warranty, and breach of contract; (ii) risks that the manufacture, importation, distribution, offer, display, purchase, sale and/or use of products or services provided or displayed on the Site may violate or may be asserted to infringe Third Party Rights, and the risk that Users may incur costs of defense or other charges in connection with third parties' assertion of Third Party Rights, or in connection with any claims by any party that they are entitled to defense or indemnification in relation to assertions of rights, demands, or ownership by Third Party Rights claimants; (iii) risks that consumers, other purchasers, end-users of products, or others claiming to have suffered injuries or harms relating to a product obtained initially by Users of the Site as a result of purchase and sale transactions in connection with.
            </p>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            <p><strong class="text-warning">Complete Terms of Service</strong></p>
            </br></br>
            <p><strong class="text-warning">1. Definitions </strong></p>
            </br></br>
            <p><strong class="text-warning">1.1 </strong>Users are hereinafter referred to as “You, Users, customers, suppliers” As used in this Agreement, “www.victorygold.com ", "we," "us," and "our" shall mean Victory Gold and its subsidiaries and affiliates. These Terms do not alter in any way the terms or conditions of any other agreement you may have with Victory Gold for its services or otherwise.</p>
            </br></br>
            <p><strong class="text-warning">1.2 </strong>Account shall mean the account created by the User on the Victory Gold Platform.</p>
            </br></br>
            <p><strong class="text-warning">1.3 </strong>User – any person who accesses the Website for whatever purpose, regardless of whether said User has registered with the Website as a Registered User. A User includes any person using this Website and any legal entity which may be represented by such person under actual or apparent authority.</p>
            </br></br>
            <p><strong class="text-warning">1.4 </strong>"Items/goods" means Digital Assets, ripples and other goods that may be purchased, sold or traded via the Services.</p>
            </br></br>
            <p><strong class="text-warning">1.5 </strong>Representative is an entity and its Affiliate(s), any director, officer, employee, consultant, contractor, agent, and attorney associated with the Victory Gold.</p>
            </br></br>
            <p><strong class="text-warning">1.6 </strong>Content means report text, web chat, graphics, emoji’s, images, music, software, audio, video, information or other materials.</p>
            </br></br>
            <p><strong class="text-warning">1.7 </strong>Victory Gold Content means all Content that Victory Gold make available through the Website, Services, or its related promotional campaigns and official social media channels, including any Content licensed from a third party, but excluding User Content.</p>
            </br></br>
            <p><strong class="text-warning">1.8 </strong>Collective Content means User Content and Victory Gold’s Content.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">1. Account Registration</strong></p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>By creating an account, you agree to: (i) provide accurate, current and complete account information; (ii) maintain the security of your password, not share your password with any other person and accept all risks of unauthorized access to your account; and (iii) promptly provide notice to Victory Gold if you discover or otherwise suspect any security breaches related to the Services.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>We allow You to open only one Account in association with the Registration Data provided by You.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>You acknowledged and agree that any Content you place on the Service may be viewed by other Users and may be viewed by any person visiting Website.</p>
            </br></br>
            <p><strong class="text-warning">2.1 </strong>You agree and accept that all of the information you provide to Victory Gold when setting up your User Account and at any other time shall be true, correct, complete and accurate in all respects.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">3. Use of the Service</strong></p>
            </br></br>
            <p><strong class="text-warning">3.1 </strong>You warrant that neither you are engaged in any illegal activity, nor you will use the Website for any unlawful purpose or activity.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">3.1 </strong>Each User hereby represents, warrants, and agrees that it has obtained all necessary Third-Party copyright, trademark, trade secret or patent licenses and permissions, or such other consents or permissions as may be required in connection with any other personal or proprietary rights of any third party (including but not limited to rights of personality and rights of privacy), for any material or information it posts on the Website or provides to Victory Gold/the Website or authorizes Victory Gold to display. Each User hereby represents, warrants, and agrees that it shall be solely responsible for ensuring that any material or information it posts on the Website or provides to Victory Gold or authorizes Victory Gold to display does not and that the products represented thereby do not violate any Third Party Rights, or is posted with the permission of the owner(s) of such rights. Each User hereby represents, warrants, and agrees that it has the right to manufacture, offer, sell, import and distribute the products it provides and displays on the Website and that such manufacture, offer, sale, importation and/or distribution of those products violates no Third Party Rights.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">4. Payment & Fees</strong></p>
            </br></br>
            <p><strong class="text-warning">4.1 </strong>The terms set hereunder are subject to the terms and conditions laid down in the Sale agreement between Buyers, Suppliers, Partners, Affiliates and Victory Gold through and not limited to our website, Skype, forum, Discord, social media or any other medium of communication.</p>
            </br></br>
            <p><strong class="text-warning">4.2 </strong>Seller fees: Seller fees can be viewed here https://victorygold.com/cart. Victory Gold reserves the right to change fees from time to time with advance notice of 14 days. However, no advance notice shall be given for temporary promotions.</p>
            </br></br>
            <p><strong class="text-warning">4.3 </strong>Withdrawal fees. Fees for processing payments that we charge shall be posted on our fees page. These fees also shall be subject to change with 14 days advance notice, but no such notice shall be given for temporary promotions.</p>
            </br></br>
            <p><strong class="text-warning">4.4 </strong>You must have a payment method on file and pay all fees and applicable taxes associated with Services by the due date; in the event your payment method fails for any reason, we may collect fees owed to us using others collection methods including retaining collection agencies and legal- counsel. Further, late payments of fees shall be subject to charge of late fees.</p>
            </br></br>
            <p><strong class="text-warning">4.5 </strong>You warrant and represent that all information that you provide to Victory Gold or its payment processors you are authorized to use such information including, without limitation, the credit card, PIN, Key or associated account, and you authorize Victory Gold and the payment processors to charge you for your purchases, subscriptions or any other fees owed to it.</p>
            </br></br>
            <p><strong class="text-warning">4.6 </strong>An effort will be made to pay tabs or balances immediately to our Buyers, Suppliers, Partners, Affiliates, however withdrawals may take up to 7 business days from the time, amount requested.</p>
            </br></br>
            <p><strong class="text-warning">4.7 </strong>A withdrawal fee may apply depending on the amount, currency and method. Cryptocurrency transaction fees of up to $1 will be covered by us. Should the network fee exceed this amount, we may ask you to cover the amount excess of $1, or offer an alternative withdrawal method for settlement.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">5. Transactions between Buyers and Sellers</strong></p>
            </br></br>
            <p>For exchanging information on products and services, Victory Gold provides a platform to Buyer (s) and Seller Seller (s). Victory Gold requires the parties to complete the transaction, i.e. deliver the goods to the Buyer, and only on delivery of goods, the Seller shall get paid.
Users are solely responsible for all transactions conducted on, through, or as a result of the use of the Site, including, without limitation, terms regarding payment, returns, warranties, shipping, insurance, fees, taxes, title, licenses, fines, permits, handling, transportation and storage.
Listing Description. While listing on the Website, you must accurately describe your item and all terms of sale. You warrant that you and all aspects of the thing comply with the Website’s policies. You further warrant that you have the full rights to sell the listed item and that such selling will not violate any legal or contractual obligations to which you may be subject. All items must be listed in an appropriate category with appropriate tags.
Binding Sales. All sales are binding. The Seller shall ensure the shipment of the order, transfer the item, or otherwise complete the transaction with the Buyer in a prompt manner.
In each transaction on the Website, Victory Gold is hereby authorized by the respective Seller to accept a respective payment from the Buyer on behalf of the Seller for the goods sold by such Seller to the Buyer. As an abundant caution and in the interest of clarity, the funds received on behalf of the Seller by Victory Gold are and at all times remains the property of Seller.</p>
            </br></br>
            <p><strong class="text-warning">5.1 Account Insurance Terms of Service: </strong>Victory Gold Insurance protects you from recalls by the original owner. Third party programs, in-game behaviour, gold selling, account sharing, or any other form of negligence is not covered. Any attempt to sell or trade your account shall void your insurance coverage. The insurance coverage shall be considered void in the event that the email used to purchase the account has been changed or has been migrated to the Jagex launcher without prior consultation. Changing the email or migrating the account to the Jagex launcher without prior consultation will result in your insurance coverage being voided as we will not be able to conduct a full investigation. An insurance claim must be filed through customer support and shall be investigated by us. It may take up to 48 hours to receive an update. If an account is reclaimed by the original owner and is promptly returned to you, no refund shall be granted. If the account is recovered a second time after the original claim, then we shall invoke the insurance coverage. The insurance only covers the original purchase price of your account, purchased from us. If your original payment is disputed through your bank, the insurance coverage shall be voided. Victory Gold Insurance is non-transferable. Any attempt at selling, trading, or sharing of the account outside of our website will void the insurance. </p>
            </br></br>
            <p><strong class="text-warning">6. Representations and Warranties of Users</strong></p>
            </br></br>
            <p>NEITHER Victory GOLD, NOR ITS PARENTS, AFFILIATES OR LICENSORS, INCLUDING THEIR RESPECTIVE DIRECTORS, OFFICERS, SHAREHOLDERS, AGENTS, INVESTORS, SUBSIDIARIES, ATTORNEYS, REPRESENTATIVES, INSURERS, EMPLOYEES, SUCCESSORS AND ASSIGNS (COLLECTIVELY REFERRED TO AS “AFFILIATES”) IS RESPONSIBLE OR LIABLE FOR THE CONDUCT, ACTS, OR OMISSIONS, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE Victory GOLD PLATFORM AND, TO THE EXTENT PERMITTED BY LAW, YOU HEREBY RELEASE Victory GOLD AND AFFILIATES FROM ANY AND ALL LIABILITY, CLAIMS, DEMANDS, OR DAMAGES OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE Victory GOLD PLATFORM.</p>
            </br></br>
            <p>In using the Service, you agree that you will not, and will not allow or authorize any third party to:</p>
            </br></br>
            <p><strong class="text-warning">6.1 </strong>Alter, remove or obscure any copyright notice, digital watermark, proprietary legend or any other notice included in materials in the Service</p>
            </br></br>
            <p><strong class="text-warning">6.2 </strong>Use any of the trademarks, trade names, service marks, copyrights or logos of Victory Gold in any manner that creates the impression such items belong to or are associated with you or are used with Victory Gold’s consent.</p>
            </br></br>
            <p><strong class="text-warning">6.3 </strong>Use any software, device or any other process to “scrape” or download data from the Website.</p>
            </br></br>
            <p><strong class="text-warning">6.4 </strong>Either obtain or attempt to obtain through any means any materials or information on the Service that have not been intentionally made publicly available either by public display on the Service or through accessibility by a visible link on the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.5 </strong>Interfere with or attempt to interfere with or otherwise disrupt the proper working of the Service, any activities conducted on or through the Service or any servers or networks connected to the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.6 </strong>Violate the security of the Service or attempt to gain unauthorized access to the Service, data, materials, information, computer systems or networks connected to any server associated with the Service, through hacking or any other means.</p>
            </br></br>
            <p><strong class="text-warning">6.7 </strong>Either take or attempt any action that, in the sole discretion of Victory Gold, imposes or may impose an unreasonable burden on the Service or the infrastructure of the Service, or otherwise abuse the Service.</p>
            </br></br>
            <p><strong class="text-warning">6.8 </strong>Use or permit the Service to be used to perform services for third parties, including as a service bureau, SaaS, time sharing basis or otherwise.</p>
            </br></br>
            <p><strong class="text-warning">6.9 </strong>Distribute, sell, license or otherwise provide the Service to third parties.</p>
            </br></br>
            <p><strong class="text-warning">6.10 </strong>Create programs similar or identical to Victory Gold Cloud.</p>
            </br></br>
            <p><strong class="text-warning">6.11 </strong>Disclose the results of any performance or functional evaluation of the Service, including benchmark results or competitive analyses.</p>
            </br></br>
            <p><strong class="text-warning">6.12 </strong>Contain fraudulent information or make fraudulent offers of items or involve the sale or attempted sale of counterfeit or stolen items or items whose sales and/or marketing is prohibited by applicable law, or otherwise promote other illegal activities;</p>
            </br></br>
            <p><strong class="text-warning">6.13 </strong>Be part of a scheme to defraud other Users of the Website or for any other unlawful purpose;</p>
            </br></br>
            <p><strong class="text-warning">6.14 </strong>Relate to the sale of products or services that infringe or otherwise abet or encourage the infringement or violation of any Third Party Rights;</p>
            </br></br>
            <p><strong class="text-warning">6.15 </strong>Violate any applicable law, statute, ordinance or regulation (including without limitation those governing export control, consumer protection, unfair competition, anti–discrimination or false advertising); and be defamatory, libelous, unlawfully threatening or unlawfully harassing;</p>
            </br></br>
            <p><strong class="text-warning">6.16 </strong>Users additionally represent and warrant that: For any of the following purposes, the list is illustrative not exhaustive, the Victory Gold platform may not be used:</p>
            </br></br>
            <p><strong class="text-warning">6.17 </strong>To impersonate another person or a User or allow any other person or entity to use your user profile to post or view comments;</p>
            </br></br>
            <p><strong class="text-warning">6.18 </strong>To publish, post, upload, distribute or disseminate any profane, illegal, defamatory, infringing, obscene or unlawful language, material or information;</p>
            </br></br>
            <p><strong class="text-warning">6.19 </strong>To defame, abuse, harass, stalk, threaten, intimidate, misrepresent, mislead or otherwise violate the rights (such as, but not limited to, rights of privacy, confidentiality, reputation, and publicity) of others, including Users and Victory Gold staff;</p>
            </br></br>
            <p><strong class="text-warning">6.20 </strong>To upload files that contain software or other material that violates the intellectual property rights (or rights of privacy or publicity) of any User, third party, or Victory Gold;</p>
            </br></br>
            <p><strong class="text-warning">6.21 </strong>To constitute any personally identifiable information of any third party that you do not have adequate rights to input, distribute, upload, post, email, transmit or otherwise make available via the Service;</p>
            </br></br>
            <p><strong class="text-warning">6.22 </strong>To advertise or offer to sell any goods or services for any commercial purpose through the Victory Gold Platform which are not relevant to the Service Request services; and to infringe any Intellectual Property Rights of Victory Gold or any third party.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">7. Third Party Websites and Services</strong></p>
            </br></br>
            <p><strong class="text-warning">7.1 </strong>The Service and Content available through the Website may integrate with other third party service providers and third-party payment processor Services e.g. Stripe. If you link to Third Party Websites, you may be subjected to those Third-Party Websites' terms and conditions and other policies. Victory Gold makes no representation or guarantee as to the accuracy or authenticity of the information contained in any such Third-Party Website, data protection and your linking to any other Website is completely at your own risk and Victory Gold disclaims all liability thereto.</p>
            </br></br>
            <p><strong class="text-warning">7.2 </strong>Any and all contents and services (including advertising) within Victory Gold that are not owned by Victory Gold are "third party content and services." Victory Gold acts merely as an intermediary user of, and accepts no responsibility or liability for third party content and services. In addition, and without limiting the generality of the foregoing, Victory Gold may include links to Websites operated by third parties, including advertisers and other content providers. Those Websites may collect data or solicit personal information from you. Victory Gold does not control such Websites, and is not responsible for their content, policies, or collection, use or disclosure of any information, those Websites may collect.</p>
            </br></br>
            <p><strong class="text-warning">7.3 </strong>Furthermore, Victory Gold uses a third party verification service "Veriff" to provide ID and customer verification services. This third party service will likely only need to occur once, and is subject to the related disclaimers and statements made in the entirety of these terms of service, including but not limited to "Third Party Websites and Services". By conducting a purchase from Victory Gold you agree to provide the information requested to Veriff and the ability for it to be used in any way necessary to conduct a review and determine, authenticate, and verify your identity and share that with Victory Gold. Victory Gold uses the verification as a means to determine your identity as a part of transaction assessment.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">8. License to Use</strong></p>
            </br></br>
            <p><strong class="text-warning">8.1 </strong>Except as otherwise agreed upon, we hereby grant you a limited, nonexclusive, non-sub-licensable license to access, and use the Platform. You will not use, copy, adapt, modify, decompile, reverse engineer, disassemble, decrypt, attempt to derive the source code, prepare derivative works based upon, distribute, license, sell, rent, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Platform and Content, except as expressly permitted by Victory Gold or as permitted under applicable law. Any unauthorized use of the Services is strictly prohibited and will terminate the license granted in these Terms. No licenses or rights are granted to you by implication or otherwise, except for the licenses and rights expressly granted to you.</p>
            </br></br>
            <p><strong class="text-warning">8.2 </strong>Victory Gold will not be liable on account of any inaccuracy of information on its Website. It is the responsibility of the visitor to further research the information on the Website. The user undertakes not to duplicate, download publish, modify and distribute material on Victory Gold unless specifically authorized by Victory Gold in this regard.</p>
            </br></br>
            <p><strong class="text-warning">8.3 </strong>In no event shall we, our affiliates or our partners be liable (directly or indirectly) for any losses or damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to your conductor of anyone else in connection with the use of the Service including, without limitation, death, bodily injury, emotional distress, and/or any other damages resulting from communications or meetings with other users or persons you meet through the Service.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">9. Ownership and Intellectual Property </strong></p>
            </br></br>
            <p><strong class="text-warning">9.1 </strong>This Website and all content forming part of the Website, including without limitation, all photographs, ideas, images, designs, information, interfaces, text, graphics, brand names, logos and trademarks, are protected by copyright, trade mark and other intellectual property laws of the United States and Canada.</p>
            </br></br>
            <p><strong class="text-warning">9.2 </strong>You acknowledge and agree that Victory Gold owns, controls or is licensed all legal right, title and interest in and related to the Website, including all intellectual property rights. You may not:</p>
            </br></br>
            <p><strong class="text-warning">9.3 </strong>Modify or copy the idea of trade, layout or appearance of the Website or any computer software or code contained in the Website; and/or</p>
            </br></br>
            <p><strong class="text-warning">9.4 </strong>Decompile or disassemble, reverse engineer or otherwise attempt to discover or access any source code related to the Website.</p>
            </br></br>
            <p><strong class="text-warning">9.5 </strong>If you believe that anything on or available through the Services infringes upon any copyright which you own or control, you may contact us at legal@victorygold.com</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">10. Indemnification </strong></p>
            </br></br>
            <p><strong class="text-warning">10.1 </strong>The User agrees and undertake to indemnify and to hold harmless Victory Gold and other parties determined by Victory Gold, Victory Gold affiliates, successors, agents, assigns, and each of their directors, officers, employees, associates, agents, and representatives from and against any data loss, financial losses, damages, liability, claims, costs, penalty and expenses (including, without limitation, reasonable attorneys’ fees) incurred by reason of (i) any breach or alleged breach by the User of the User’s obligations, responsibilities, representations, or warranties under the Subscription Agreement and/or User T&C; (ii) any infringement or unauthorized use of intellectual property rights of Victory Gold including but not limited to infringement of intellectual property rights of Victory Gold in the Website (iii) any breach of the confidentiality obligations of the User under this Agreement or User T&C; (iv) any violation of Victory Gold policies by the User; (v) any harm to the reputation and goodwill of Victory Gold directly attributable to the User; and (vi) damage, unauthorized use or loss of the Website.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">11. Electronic Communications </strong></p>
            </br></br>
            <p><strong class="text-warning">11.1 </strong>When you send an e-mail or chat electronically with Victory Gold, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail, phone calls or sms text messages. You agree that all agreements, notices, disclosures and other communications that Victory Gold provides to you electronically satisfy legal requirements that such communications be in writing.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">12. Reliance on Information Posted </strong></p>
            </br></br>
            <p><strong class="text-warning">12.1 </strong>The information presented on or through the Website is made available solely for general purposes. We do not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information is strictly at your own risk and responsibility. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">13. Limitation of Liability </strong></p>
            </br></br>
            <p>Victory GOLD, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY(I) DATA LOSS (II) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (III) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (IV) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (V) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (VI) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (VII) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND (INCLUDING LOSS OR DAMAGE TO CONTENT), IN EACH CASE WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT Victory GOLD IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU SPECIFICALLY ACKNOWLEDGE THAT Victory GOLD SHALL NOT BE LIABLE FOR THE CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS. THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU, IN SUCH JURISDICTIONS, OUR LIABILITY IS LIMITED TO THE EXTENT PERMITTED BY LAW, THEREBY MINIMIZING OUR LIABILITY TO YOU TO THE LOWEST AMOUNT PERMITTED BY APPLICABLE LAW. THE SERVICES ARE CONTROLLED AND OFFERED BY Victory GOLD FROM ITS FACILITIES IN UNITED STATES AND CANADA. Victory GOLD MAKES NO REPRESENTATIONS THAT THE SERVICES ARE APPROPRIATE OR AVAILABLE FOR USE IN OTHER LOCATIONS. THOSE WHO ACCESS OR USE THE SERVICES FROM OTHER JURISDICTIONS DO SO AT THEIR OWN VOLITION AND ARE RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAW.</p>
            </br></br>
            <p>YOU ACKNOWLEDGE AND AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH Victory GOLD IS TO STOP USING THE Victory GOLD PLATFORM, AND TO CANCEL ANY AND ALL OF YOUR Victory GOLD ACCOUNTS, IF APPLICABLE.</p>
            </br></br>
            <p>Victory Gold and its affiliates, directors, officers and employees shall not be liable for any special, direct, indirect, punitive, incidental or consequential damages or any damages whatsoever (including but not limited to damages for loss of profits or savings, business interruption, loss of information), whether in contract, negligence, tort, strict liability or otherwise, or any other damages resulting from any of the following</p>
            </br></br>
            <p><strong class="text-warning">13.1 </strong>The use or the inability to use the Website</p>
            </br></br>
            <p><strong class="text-warning">13.2 </strong>Any defect in goods, samples, data, information or services purchased or obtained from a User or a third–party service provider through the Website</p>
            </br></br>
            <p><strong class="text-warning">13.3 </strong>Any claims or demands that User’s manufacture, importation, distribution, offer, display, purchase, sale and/or use of products or services offered or displayed on the Website may violate or may be asserted to violate Third Party Rights; or claims by any party that they are entitled to defense or indemnification in relation to assertions of rights, demands or claims by Third Party Rights claimants;</p>
            </br></br>
            <p><strong class="text-warning">13.4 </strong>Unauthorized access by third parties to data or private information of any User;</p>
            </br></br>
            <p><strong class="text-warning">13.5 </strong>Statements, conduct, or material posted by Users of the Website, including defamatory, offensive or illicit material; or</p>
            </br></br>
            <p><strong class="text-warning">13.6 </strong>Any other matter relating to the Website.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">14. Disclaimer of Warranties </strong></p>
            </br></br>
            <p><strong class="text-warning">14.1 </strong>Each User hereby agrees to indemnify and hold harmless Victory Gold, its affiliates, directors, officers, and employees, from any and all losses, claims, liabilities (including legal costs on a full indemnity basis) which may arise, directly or indirectly:</p>
            </br></br>
            <p><strong class="text-warning">14.2 </strong>From such User’s use of the Website, including but not limited to the display of such User's information on the Website;</p>
            </br></br>
            <p><strong class="text-warning">14.3 </strong>From such User’s breach of any of the terms and conditions of this Agreement; From such User’s breach of any representations and warranties made by the User to Victory Gold;</p>
            </br></br>
            <p><strong class="text-warning">14.4 </strong>As a result of any claims asserted by Third Party Rights claimants or other third parties relating to products offered or displayed on the Website.</p>
            </br></br>
            <p><strong class="text-warning">14.5 </strong>YOUR USE OF THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS CONTENT AND ANY SERVICES OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE Victory GOLD NOR ANY PERSON ASSOCIATED WITH THE Victory GOLD MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE.</p>
            </br></br>
            <p><strong class="text-warning">14.6 </strong>We shall not be liable to you for any loss suffered in relation to your use or inability to use the website without limiting the foregoing, neither the Victory Gold nor anyone associated with the Victory Gold represents or warrants that the website, its content or any services or items obtained through the website will be accurate, reliable, error-free or uninterrupted, that defects will be corrected, that our website or the server that makes it available are free of viruses or other harmful components or that the website or any services or items obtained through the website will otherwise meet your needs or expectations.</p>
            </br></br>
            <p><strong class="text-warning">14.7 </strong>WE MAKE EVERY EFFORT TO VERIFY STATEMENTS AND INFORMATION SUBMITTED BY THE THIRD PARTIES AND OUR USERS, THE INFORMATION COMPILED BY US IS BASED ON INFORMATION SUPPLIED BY VARIOUS INDIVIDUALS AND BUSINESSES, IT DOES NOT REPRESENT THE VIEWS OF Victory GOLD. AND Victory GOLD CANNOT BE HELD RESPONSIBLE FOR ANY OMISSIONS OR INACCURATE CLAIMS THAT MAY APPEAR.</p>
            </br></br>
            <p><strong class="text-warning">14.8 </strong>THE Victory GOLD HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.</p>
            </br></br>
            <p><strong class="text-warning">14.9 </strong>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">15. Entire Agreement / Severability </strong></p>
            </br></br>
            <p><strong class="text-warning">15.1 </strong>These Terms and Conditions incorporate our Privacy Policy which together constitutes the entire agreement between You and Victory Gold, in relation to Your use of the Website and/or the Services and supersedes any prior representations, inducements or agreements relating to its subject matter. You agree that these Terms of Use are not intended to confer and do not confer any rights or remedies upon any third party. If any part of these Terms of Use are held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. These Terms of Use, including all terms and policies referenced herein, contain the entire understanding, and supersede all prior agreements, between you and Victory Gold relating to this subject matter, and cannot be changed or terminated orally.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">16. Assignment </strong></p>
            </br></br>
            <p><strong class="text-warning">16.1 </strong>You may not assign these Terms or any of the rights granted hereunder without the prior written consent of Victory Gold, and any attempted assignment without such consent shall be void. Subject to the foregoing restriction, these Terms will be fully binding upon, inure to the benefit of, and be enforceable by us and our respective successors and assigns.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">17. Non-waiver</strong></p>
            </br></br>
            <p><strong class="text-warning">17.1 </strong>Failure by either Victory Gold or You to exercise or enforce any right conferred shall not be deemed to be a waiver of any such right nor operate so as to bar that exercise or enforcement thereof or of any other right on any later occasion.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">18. Force Majeure</strong></p>
            </br></br>
            <p><strong class="text-warning">18.1 </strong>Victory Gold shall not be liable for any delay or failure to perform resulting from causes outside its reasonable control; including, without limitation, any failure to perform hereunder due to unforeseen circumstances or causes beyond its control such as acts of God, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.</p>
            </br></br>
            </br></br>
            <p><strong class="text-warning">19. Governing Law and Arbitration</strong></p>
            </br></br>
            <p><strong class="text-warning">19.1 </strong>Governing Law and Arbitration for Canadian Citizens. If you are a Canadian Citizen, you hereby agree that all actions brought in respect of this Agreement, or any Services delivered pursuant to this Agreement, shall be brought before Toronto, and the parties hereby acknowledge the exclusive jurisdiction of the Competent Courts of Ontario.</p>
            </br></br>
            <p><strong class="text-warning">19.2 </strong>Arbitration Procedures. Victory Gold may decide to resolve the dispute via Arbitration and any such dispute relating to the application, interpretation, implementation or validity of this Agreement, the Parties agree to resolve the dispute by arbitration at ADR Chambers using the ADR Chambers Expedited Arbitration Rules (https://adrchambers.com/expedited-arbitration/). The Parties agree that the ADR Chambers Expedited Arbitration Rules give the Parties a fair opportunity to present their case and respond to the case of the other side. The arbitration shall be held in Toronto and shall proceed in accordance with the provisions of the Arbitration Act (Ontario). Judgement upon the award rendered by the arbitrator may be entered in any court having jurisdiction. There will be no appeal from the decision of the arbitrator on questions of fact, law, or mixed fact and law.</p>
            </br></br>
            <p><strong class="text-warning">19.3 </strong>Discovery. Each party may (a) request relevant, non-privileged documents from the other party; and (b) request that the other party provide the particulars of its claims or defenses. Any such discovery requests must be served on the other party within 10 days after the arbitrator’s appointment. The responding party shall provide the requesting party with all responsive, non-privileged documents, the requested particulars, and/or any objections to the requests within 15 days after receipt of the requests. Any disputes about discovery or requests for extensions shall be submitted promptly to the arbitrator for prompt resolution. In ruling on any discovery dispute or extension request, the arbitrator shall take into consideration the nature, amount, and scope of the underlying arbitration claim, the cost and other effort that would be involved in providing the requested discovery, the case schedule, and whether the requested discovery is necessary for the adequate preparation of a claim or defense.</p>
            </br></br>
            <p><strong class="text-warning">19.4 </strong>Communications with the Arbitrator. Whenever communicating with the arbitrator, the parties must include each other – for example, by including the other party on a telephone conference call and copying the other party on any written submissions, such as letters or emails. To the extent practicable, conferences with the arbitrator will take place by telephone conference call or email. Ex parte communications are not permitted with any arbitrator.</p>
            </br></br>
            <p><strong class="text-warning">19.5 </strong>Confidentiality. Upon either party’s request, the arbitrator will issue an order requiring that confidential information of either party disclosed during the arbitration (whether in documents or orally) may not be used or disclosed except in connection with the arbitration or a proceeding to enforce the arbitration award and that any permitted filing of confidential information must be done under seal.</p>
            </br></br>
        </div>
    </div>
</div>
