<div class="container d-flex justify-content-center">
    <div class="card mb-3 border-0 col-12">
        <div class="row g-0">
            <div class="d-flex justify-content-center">
                <div class="card-body bg-text">
                    <h3 class="card-title text-white m-3">
                        ¿Cómo es el proceso de compra?
                    </h3>
                    <p class="card-text text-white-50 m-4">
                        Comprar oro en OSRS es bastante sencillo, luego de
                        seguir las instrucciones y llenar el formulario debes
                        coordinar con el agente de compra que te atienda tanto
                        el método de pago como el método de entrega del oro,
                        recuerda que tenemos diferentes formas de entrarte el
                        oro, puedes elegir la que más te guste. Los tiempos
                        estipulados para la entrega del oro suelen ser pocos
                        minutos pero contamos con un límite máximo de 2 horas
                        para entregarte el oro. Recuerda que comprar oro en OSRS
                        puede ser algo delicado, así que lo mejor es comprarlo
                        con páginas confiables como la nuestra para que tanto tu
                        dinero, como tu cuenta estén a salvo. Para cualquier
                        información adicional o informar sobre algún problema
                        tenemos a disposición el chat de la web o bien nuestro
                        número de WhatsApp: +1 (812) 682-0424
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mb-3 border-0 col-12">
        <div class="row g-0">
            <div class="d-flex justify-content-center">
                <div class="card-body bg-text">
                    <h3 class="card-title text-white m-3">
                        Oro de Runescape OldSchool (OSRS Gold)
                    </h3>
                    <p class="card-text text-white-50 m-4">
                        El oro de RuneScape es el recurso principal del juego,
                        con el que puedes comprar todos los objetos del juego
                        así como armaduras, recursos, cosméticos y todas las
                        herramientas necesarias para convertirte en un guerrero
                        invencible dentro del mundo de RuneScape. El oro es la
                        herramienta que te permitirá lograr lo que desees dentro
                        del juego y comprarlo de la mano de páginas confiables
                        como nosotros te mantendrá seguro para que puedas
                        comprar con toda confianza.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mb-3 border-0 col-12">
        <div class="row g-0">
            <div class="d-flex justify-content-center">
                <div class="card-body bg-text">
                    <h3 class="card-title text-white m-3">
                        ¿Porque Victory Gold?
                    </h3>
                    <p class="card-text text-white-50 m-4">
                        a. Respuesta rápida. Solemos contestar en menos de 10
                        minutos.<br />
                        b. Entrega rápida. Solemos entregar en menos de 10
                        minutos.<br />
                        c. Fuentes seguras de oro. Todo el oro es 100% farmeado
                        por humanos, sin bots.<br />
                        d. reputación que nos acompaña, tenemos más de 3 años en
                        el mercado con mas de 50,000 ordenes completadas en
                        diferentes marketplaces.<br />
                        e. reputación demostrable, contamos con Trustpilot donde
                        puedes leer referencias de nuestro servicio.<br />
                        f. Seguridad, tú dinero siempre esta 100% seguro con
                        nosotros, si no te entregamos el oro en el tiempo
                        estipulado siempre puedes pedir por un reembolso
                        completo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mb-3 col-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary"
                            >Last updated 3 mins ago</small
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
