<div class="desktop flex-column">
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            How is the process of purchase?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            Buying gold is quite simple, after following the
                            instructions and filling out the form you must
                            coordinate with the purchasing agent who assists you
                            both the payment method and the gold delivery
                            method, remember that we have different ways to
                            receive the gold, you can choose the one you like
                            the most. The times stipulated for the delivery of
                            gold are usually a few minutes but we have a maximum
                            limit of 2 hours to deliver the gold to you.
                            Remember that buying gold can be delicate, so it is
                            best to buy it with reliable pages like ours so that
                            both your money and your account are safe. For any
                            additional information or to report a problem, we
                            have the web chat available or our WhatsApp number:
                            +1 (812) 682-0424
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            Why Victory Gold?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            a. We usually respond in less than 10 minutes.
                            <br />
                            b. Fast delivery. We usually deliver in less than 10
                            minutes. <br />
                            c. Safe sources of gold. All gold is 100% human
                            farmed, no bots. <br />
                            d. Reputation that accompanies us, we have more than
                            3 years in the market with more than 50,000 orders
                            completed in different marketplaces and demonstrable
                            reputation, we have Trustpilot where you can read
                            references of our service. <br />
                            e. Security, your money is always 100% safe with us,
                            if we do not deliver the gold within the stipulated
                            time you can always ask for a full refund.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile flex-column">
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            How is the process of purchase?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            Buying gold is quite simple, after following the
                            instructions and filling out the form you must
                            coordinate with the purchasing agent who assists you
                            both the payment method and the gold delivery
                            method, remember that we have different ways to
                            receive the gold, you can choose the one you like
                            the most. The times stipulated for the delivery of
                            gold are usually a few minutes but we have a maximum
                            limit of 2 hours to deliver the gold to you.
                            Remember that buying gold can be delicate, so it is
                            best to buy it with reliable pages like ours so that
                            both your money and your account are safe. For any
                            additional information or to report a problem, we
                            have the web chat available or our WhatsApp number:
                            +1 (812) 682-0424
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mb-3 border-0 col-12">
            <div class="row g-0">
                <div class="d-flex justify-content-center">
                    <div class="card-body bg-text">
                        <h3 class="card-title text-white m-3">
                            Why Victory Gold?
                        </h3>
                        <p class="card-text text-white-50 m-4">
                            a. We usually respond in less than 10 minutes.
                            <br />
                            b. Fast delivery. We usually deliver in less than 10
                            minutes. <br />
                            c. Safe sources of gold. All gold is 100% human
                            farmed, no bots. <br />
                            d. Reputation that accompanies us, we have more than
                            3 years in the market with more than 50,000 orders
                            completed in different marketplaces and demonstrable
                            reputation, we have Trustpilot where you can read
                            references of our service. <br />
                            e. Security, your money is always 100% safe with us,
                            if we do not deliver the gold within the stipulated
                            time you can always ask for a full refund.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
